@charset "UTF-8";
/*
Theme Name: newspaper
Theme URI: https://kmong.com/gig/155175
Author: YoonManager_WPMate
Author URI: https://kmong.com/gig/155175
Description: Alpool Project
Version: 1.0
License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html
Text Domain: alpool

/*  Vendors ( SCSS Plugin made by other developers )
/* --------------------------------------------------- */
/*!
 * Mmenu Light
 * mmenujs.com/mmenu-light
 *
 * Copyright (c) Fred Heusschen
 * www.frebsite.nl
 *
 * License: CC-BY-4.0
 * http://creativecommons.org/licenses/by/4.0/
 */
:root {
  --mm-ocd-width: 80%;
  --mm-ocd-min-width: 200px;
  --mm-ocd-max-width: 440px;
}

body.mm-ocd-opened {
  overflow-y: hidden;
  overscroll-behavior: none;
}

.mm-ocd {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 100%;
  left: 0;
  z-index: 9999;
  overflow: hidden;
  overscroll-behavior: contain;
  background: rgba(0, 0, 0, 0);
  transition-property: bottom, background-color;
  transition-duration: 0s, 0.3s;
  transition-timing-function: ease;
  transition-delay: 0.45s, 0.15s;
}

.mm-ocd--open {
  bottom: 0;
  background: rgba(0, 0, 0, 0.25);
  transition-delay: 0s;
}

.mm-ocd__content {
  position: absolute;
  top: 0;
  bottom: 0;
  z-index: 2;
  width: var(--mm-ocd-width);
  min-width: var(--mm-ocd-min-width);
  max-width: var(--mm-ocd-max-width);
  background: #fff;
  transition-property: -webkit-transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
  transition-duration: 0.3s;
  transition-timing-function: ease;
}

.mm-ocd--left .mm-ocd__content {
  left: 0;
  -webkit-transform: translate3d(-100%, 0, 0);
  transform: translate3d(-100%, 0, 0);
}

.mm-ocd--right .mm-ocd__content {
  right: 0;
  -webkit-transform: translate3d(100%, 0, 0);
  transform: translate3d(100%, 0, 0);
}

.mm-ocd--open .mm-ocd__content {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.mm-ocd__backdrop {
  position: absolute;
  top: 0;
  bottom: 0;
  z-index: 3;
  width: clamp(100% - var(--mm-ocd-max-width), 100% - var(--mm-ocd-width), 100% - var(--mm-ocd-min-width));
  background: rgba(3, 2, 1, 0);
}

.mm-ocd--left .mm-ocd__backdrop {
  right: 0;
}

.mm-ocd--right .mm-ocd__backdrop {
  left: 0;
}

.mm-spn,
.mm-spn a,
.mm-spn li,
.mm-spn span,
.mm-spn ul {
  display: block;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --mm-spn-item-height: 50px;
  --mm-spn-item-indent: 20px;
  --mm-spn-line-height: 24px;
  --mm-spn-panel-offset: 30%;
}

.mm-spn {
  width: 100%;
  height: 100%;
  -webkit-tap-highlight-color: transparent;
  -webkit-overflow-scrolling: touch;
  overflow: hidden;
  -webkit-clip-path: inset(0 0 0 0);
  clip-path: inset(0 0 0 0);
  -webkit-transform: translateX(0);
  transform: translateX(0);
}

.mm-spn ul {
  -webkit-overflow-scrolling: touch;
  position: fixed;
  top: 0;
  left: 100%;
  bottom: 0;
  z-index: 2;
  width: calc(100% + var(--mm-spn-panel-offset));
  padding-right: var(--mm-spn-panel-offset);
  line-height: var(--mm-spn-line-height);
  overflow: visible;
  overflow-y: auto;
  background: inherit;
  transition: left 0.3s ease 0s;
  cursor: default;
}

.mm-spn ul:after {
  content: "";
  display: block;
  height: var(--mm-spn-item-height);
}

.mm-spn > ul {
  left: 0;
}

.mm-spn ul.mm-spn--open {
  left: 0;
}

.mm-spn ul.mm-spn--parent {
  left: calc(-1 * var(--mm-spn-panel-offset));
  overflow: visible;
}

.mm-spn li {
  position: relative;
  background: inherit;
  cursor: pointer;
}

.mm-spn li:before {
  content: "";
  display: block;
  position: absolute;
  top: calc(var(--mm-spn-item-height) / 2);
  right: calc(var(--mm-spn-item-height) / 2);
  z-index: 0;
  width: 10px;
  height: 10px;
  border-top: 2px solid;
  border-right: 2px solid;
  -webkit-transform: rotate(45deg) translate(0, -50%);
  transform: rotate(45deg) translate(0, -50%);
  opacity: 0.4;
}

.mm-spn li:after {
  content: "";
  display: block;
  margin-left: var(--mm-spn-item-indent);
  border-top: 1px solid;
  opacity: 0.15;
}

.mm-spn a,
.mm-spn span {
  position: relative;
  z-index: 1;
  padding: calc((var(--mm-spn-item-height) - var(--mm-spn-line-height)) / 2) var(--mm-spn-item-indent);
}

.mm-spn a {
  background: inherit;
  color: inherit;
  text-decoration: none;
}

.mm-spn a:not(:last-child) {
  width: calc(100% - var(--mm-spn-item-height));
}

.mm-spn a:not(:last-child):after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  border-right: 1px solid;
  opacity: 0.15;
}

.mm-spn span {
  background: 0 0;
}

.mm-spn.mm-spn--navbar {
  cursor: pointer;
}

.mm-spn.mm-spn--navbar:before {
  content: "";
  display: block;
  position: absolute;
  top: calc(var(--mm-spn-item-height) / 2);
  left: var(--mm-spn-item-indent);
  width: 10px;
  height: 10px;
  margin-top: 2px;
  border-top: 2px solid;
  border-left: 2px solid;
  -webkit-transform: rotate(-45deg) translate(50%, -50%);
  transform: rotate(-45deg) translate(50%, -50%);
  opacity: 0.4;
}

.mm-spn.mm-spn--navbar.mm-spn--main {
  cursor: default;
}

.mm-spn.mm-spn--navbar.mm-spn--main:before {
  content: none;
  display: none;
}

.mm-spn.mm-spn--navbar:after {
  content: attr(data-mm-spn-title);
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: var(--mm-spn-item-height);
  padding: 0 calc(var(--mm-spn-item-indent) * 2);
  line-height: var(--mm-spn-item-height);
  opacity: 0.4;
  text-align: center;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.mm-spn.mm-spn--navbar.mm-spn--main:after {
  padding-left: var(--mm-spn-item-indent);
}

.mm-spn.mm-spn--navbar ul {
  top: calc(var(--mm-spn-item-height) + 1px);
}

.mm-spn.mm-spn--navbar ul:before {
  content: "";
  display: block;
  position: fixed;
  top: inherit;
  z-index: 2;
  width: 100%;
  border-top: 1px solid currentColor;
  opacity: 0.15;
}

.mm-spn.mm-spn--light {
  color: #444;
  background: #f3f3f3;
}

.mm-spn.mm-spn--dark {
  color: #ddd;
  background: #333;
}

.mm-spn.mm-spn--vertical {
  overflow-y: auto;
}

.mm-spn.mm-spn--vertical ul {
  width: 100%;
  padding-right: 0;
  position: static;
}

.mm-spn.mm-spn--vertical ul ul {
  display: none;
  padding-left: var(--mm-spn-item-indent);
}

.mm-spn.mm-spn--vertical ul ul:after {
  height: calc(var(--mm-spn-item-height) / 2);
}

.mm-spn.mm-spn--vertical ul.mm-spn--open {
  display: block;
}

.mm-spn.mm-spn--vertical li.mm-spn--open:before {
  -webkit-transform: rotate(135deg) translate(-50%, 0);
  transform: rotate(135deg) translate(-50%, 0);
}

.mm-spn.mm-spn--vertical ul ul li:last-child:after {
  content: none;
  display: none;
}

/*  Utils ( useful functions, mixins )
/* --------------------------------------------------- */
/*  General ( default setup , override other plugin's settings )
/* ----------------------------------------------------------------- */
/*  Break Points
/* --------------------------------------------------- */
/*  Color
/* --------------------------------------------------- */
@font-face {
  font-family: "GmarketSans";
  font-weight: 300;
  font-style: normal;
  src: url("https://cdn.jsdelivr.net/gh/webfontworld/gmarket/GmarketSansLight.eot");
  src: url("https://cdn.jsdelivr.net/gh/webfontworld/gmarket/GmarketSansLight.eot?#iefix") format("embedded-opentype"), url("https://cdn.jsdelivr.net/gh/webfontworld/gmarket/GmarketSansLight.woff2") format("woff2"), url("https://cdn.jsdelivr.net/gh/webfontworld/gmarket/GmarketSansLight.woff") format("woff"), url("https://cdn.jsdelivr.net/gh/webfontworld/gmarket/GmarketSansLight.ttf") format("truetype");
  font-display: swap;
}
@font-face {
  font-family: "GmarketSans";
  font-weight: 500;
  font-style: normal;
  src: url("https://cdn.jsdelivr.net/gh/webfontworld/gmarket/GmarketSansMedium.eot");
  src: url("https://cdn.jsdelivr.net/gh/webfontworld/gmarket/GmarketSansMedium.eot?#iefix") format("embedded-opentype"), url("https://cdn.jsdelivr.net/gh/webfontworld/gmarket/GmarketSansMedium.woff2") format("woff2"), url("https://cdn.jsdelivr.net/gh/webfontworld/gmarket/GmarketSansMedium.woff") format("woff"), url("https://cdn.jsdelivr.net/gh/webfontworld/gmarket/GmarketSansMedium.ttf") format("truetype");
  font-display: swap;
}
@font-face {
  font-family: "GmarketSans";
  font-weight: 700;
  font-style: normal;
  src: url("https://cdn.jsdelivr.net/gh/webfontworld/gmarket/GmarketSansBold.eot");
  src: url("https://cdn.jsdelivr.net/gh/webfontworld/gmarket/GmarketSansBold.eot?#iefix") format("embedded-opentype"), url("https://cdn.jsdelivr.net/gh/webfontworld/gmarket/GmarketSansBold.woff2") format("woff2"), url("https://cdn.jsdelivr.net/gh/webfontworld/gmarket/GmarketSansBold.woff") format("woff"), url("https://cdn.jsdelivr.net/gh/webfontworld/gmarket/GmarketSansBold.ttf") format("truetype");
  font-display: swap;
}
* {
  font-family: "GmarketSans";
}

img {
  width: 100%;
}

.wrap, .header-primary-menu > ul.menu {
  padding: 0 20px;
}
@media (min-width: 80em) {
  .wrap, .header-primary-menu > ul.menu {
    padding: 0;
    max-width: 1280px;
    margin: 0 auto;
    text-align: left;
  }
}

button,
input,
select,
textarea {
  font-size: 100%;
  font-family: inherit;
  margin: 0;
  max-width: 100%;
  vertical-align: baseline;
  box-sizing: border-box;
}

button,
input {
  line-height: inherit;
}

input,
textarea {
  background-image: -webkit-linear-gradient(hsla(0, 0%, 100%, 0), hsla(0, 0%, 100%, 0));
}

select,
input,
textarea {
  color: inherit;
  font-size: 13px;
  line-height: 24px;
  padding: 6px 8px;
  border: 1px solid rgba(0, 0, 0, 0.12);
  background: #fff;
  margin-bottom: 6px;
  border-radius: 2px;
  transition: 0.1s ease-in-out;
}

button,
html input[type=button],
input[type=reset],
input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer;
}

button,
a.button,
input[type=button],
input[type=reset],
input[type=submit] {
  position: relative;
  border: 0;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.54);
  padding: 6px 16px;
  margin: 0 4px 0 0;
  min-width: 64px;
  display: inline-block;
  border-radius: 2px;
}

.search-form .search-submit {
  visibility: hidden;
  display: none;
}

input[type=text],
input[type=email],
input[type=search],
input[type=number],
input[type=password] {
  padding: 6px 8px;
  height: 36px;
  line-height: inherit;
  -webkit-appearance: textfield;
  -moz-appearance: textfield;
  appearance: textfield;
}

button,
a.button,
input[type=button],
input[type=reset],
input[type=submit] {
  position: relative;
  border: 0;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.54);
  padding: 6px 16px;
  margin: 0 4px 0 0;
  min-width: 64px;
  display: inline-block;
  border-radius: 2px;
}

.img-hover-scale-1 {
  overflow: hidden;
}
.img-hover-scale-1 img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  transition: -webkit-transform 0.24s ease-in-out;
  transition: transform 0.24s ease-in-out;
  transition: transform 0.24s ease-in-out, -webkit-transform 0.24s ease-in-out;
}
.img-hover-scale-1:hover img {
  -webkit-transform: scale(1.03);
          transform: scale(1.03);
}

.show-section .desktop-front-section-1, .show-section .desktop-front-section-1-3, .show-section .desktop-front-section-1-2, .show-section .desktop-front-section-1-1 {
  position: relative;
}
.show-section .desktop-front-section-1:after, .show-section .desktop-front-section-1-3:after, .show-section .desktop-front-section-1-2:after, .show-section .desktop-front-section-1-1:after {
  content: "desktop-front-section-1";
  position: absolute;
  top: -20px;
  left: 0;
  background-color: rgb(255, 255, 255);
  border: 4px solid red;
  color: black;
  z-index: 999999;
}
.show-section .desktop-front-section-1-1:after {
  content: "desktop-front-section-1-1";
}
.show-section .desktop-front-section-1-2:after {
  content: "desktop-front-section-1-2";
}
.show-section .desktop-front-section-1-3:after {
  content: "desktop-front-section-1-3";
}
.show-section .desktop-single-section-1, .show-section .desktop-single-section-1-3, .show-section .desktop-single-section-1-2, .show-section .desktop-single-section-1-1 {
  position: relative;
}
.show-section .desktop-single-section-1:after, .show-section .desktop-single-section-1-3:after, .show-section .desktop-single-section-1-2:after, .show-section .desktop-single-section-1-1:after {
  content: "desktop-single-section-1";
  position: absolute;
  top: -20px;
  left: 0;
  background-color: rgb(255, 255, 255);
  border: 4px solid red;
  color: black;
  z-index: 999999;
}
.show-section .desktop-single-section-1-1:after {
  content: "desktop-single-section-1-1";
}
.show-section .desktop-single-section-1-2:after {
  content: "desktop-single-section-1-2";
}
.show-section .desktop-single-section-1-3:after {
  content: "desktop-single-section-1-3";
}
.show-section .desktop-category-section-1, .show-section .desktop-category-section-1-3, .show-section .desktop-category-section-1-2, .show-section .desktop-category-section-1-1 {
  position: relative;
}
.show-section .desktop-category-section-1:after, .show-section .desktop-category-section-1-3:after, .show-section .desktop-category-section-1-2:after, .show-section .desktop-category-section-1-1:after {
  content: "desktop-category-section-1";
  position: absolute;
  top: -20px;
  left: 0;
  background-color: rgb(255, 255, 255);
  border: 4px solid red;
  color: black;
  z-index: 999999;
}
.show-section .desktop-category-section-1-1:after {
  content: "desktop-category-section-1-1";
}
.show-section .desktop-category-section-1-2:after {
  content: "desktop-category-section-1-2";
}
.show-section .desktop-category-section-1-3:after {
  content: "desktop-category-section-1-3";
}
.show-section .mobile-front-section-1, .show-section .mobile-front-section-1-3, .show-section .mobile-front-section-1-2, .show-section .mobile-front-section-1-1 {
  position: relative;
}
.show-section .mobile-front-section-1:after, .show-section .mobile-front-section-1-3:after, .show-section .mobile-front-section-1-2:after, .show-section .mobile-front-section-1-1:after {
  content: "mobile-front-section-1";
  position: absolute;
  top: -20px;
  left: 0;
  background-color: rgb(255, 255, 255);
  border: 4px solid red;
  color: black;
  z-index: 999999;
}
.show-section .mobile-front-section-1-1:after {
  content: "mobile-front-section-1-1";
}
.show-section .mobile-front-section-1-2:after {
  content: "mobile-front-section-1-2";
}
.show-section .mobile-front-section-1-3:after {
  content: "mobile-front-section-1-3";
}
.show-section .mobile-single-section-1, .show-section .mobile-single-section-1-3, .show-section .mobile-single-section-1-2, .show-section .mobile-single-section-1-1 {
  position: relative;
}
.show-section .mobile-single-section-1:after, .show-section .mobile-single-section-1-3:after, .show-section .mobile-single-section-1-2:after, .show-section .mobile-single-section-1-1:after {
  content: "mobile-single-section-1";
  position: absolute;
  top: -20px;
  left: 0;
  background-color: rgb(255, 255, 255);
  border: 4px solid red;
  color: black;
  z-index: 999999;
}
.show-section .mobile-single-section-1-1:after {
  content: "mobile-single-section-1-1";
}
.show-section .mobile-single-section-1-2:after {
  content: "mobile-single-section-1-2";
}
.show-section .mobile-single-section-1-3:after {
  content: "mobile-single-section-1-3";
}
.show-section .mobile-category-section-1, .show-section .mobile-category-section-1-3, .show-section .mobile-category-section-1-2, .show-section .mobile-category-section-1-1 {
  position: relative;
}
.show-section .mobile-category-section-1:after, .show-section .mobile-category-section-1-3:after, .show-section .mobile-category-section-1-2:after, .show-section .mobile-category-section-1-1:after {
  content: "mobile-category-section-1";
  position: absolute;
  top: -20px;
  left: 0;
  background-color: rgb(255, 255, 255);
  border: 4px solid red;
  color: black;
  z-index: 999999;
}
.show-section .mobile-category-section-1-1:after {
  content: "mobile-category-section-1-1";
}
.show-section .mobile-category-section-1-2:after {
  content: "mobile-category-section-1-2";
}
.show-section .mobile-category-section-1-3:after {
  content: "mobile-category-section-1-3";
}
.show-section .mobile-front-section-1, .show-section .mobile-front-section-1-1, .show-section .mobile-front-section-1-2, .show-section .mobile-front-section-1-3 {
  position: relative;
}
.show-section .mobile-front-section-1:after, .show-section .mobile-front-section-1-1:after, .show-section .mobile-front-section-1-2:after, .show-section .mobile-front-section-1-3:after {
  content: "mobile-front-section-1";
  position: absolute;
  top: -20px;
  left: 0;
  background-color: rgb(255, 255, 255);
  border: 4px solid red;
  color: black;
  z-index: 999999;
}
.show-section .mobile-front-section-1-1:after {
  content: "mobile-front-section-1-1";
}
.show-section .mobile-front-section-1-2:after {
  content: "mobile-front-section-1-2";
}
.show-section .mobile-front-section-1-3:after {
  content: "mobile-front-section-1-3";
}
.show-section .desktop-front-section-2, .show-section .desktop-front-section-2-3, .show-section .desktop-front-section-2-2, .show-section .desktop-front-section-2-1 {
  position: relative;
}
.show-section .desktop-front-section-2:after, .show-section .desktop-front-section-2-3:after, .show-section .desktop-front-section-2-2:after, .show-section .desktop-front-section-2-1:after {
  content: "desktop-front-section-2";
  position: absolute;
  top: -20px;
  left: 0;
  background-color: rgb(255, 255, 255);
  border: 4px solid red;
  color: black;
  z-index: 999999;
}
.show-section .desktop-front-section-2-1:after {
  content: "desktop-front-section-2-1";
}
.show-section .desktop-front-section-2-2:after {
  content: "desktop-front-section-2-2";
}
.show-section .desktop-front-section-2-3:after {
  content: "desktop-front-section-2-3";
}
.show-section .desktop-single-section-2, .show-section .desktop-single-section-2-3, .show-section .desktop-single-section-2-2, .show-section .desktop-single-section-2-1 {
  position: relative;
}
.show-section .desktop-single-section-2:after, .show-section .desktop-single-section-2-3:after, .show-section .desktop-single-section-2-2:after, .show-section .desktop-single-section-2-1:after {
  content: "desktop-single-section-2";
  position: absolute;
  top: -20px;
  left: 0;
  background-color: rgb(255, 255, 255);
  border: 4px solid red;
  color: black;
  z-index: 999999;
}
.show-section .desktop-single-section-2-1:after {
  content: "desktop-single-section-2-1";
}
.show-section .desktop-single-section-2-2:after {
  content: "desktop-single-section-2-2";
}
.show-section .desktop-single-section-2-3:after {
  content: "desktop-single-section-2-3";
}
.show-section .desktop-category-section-2, .show-section .desktop-category-section-2-3, .show-section .desktop-category-section-2-2, .show-section .desktop-category-section-2-1 {
  position: relative;
}
.show-section .desktop-category-section-2:after, .show-section .desktop-category-section-2-3:after, .show-section .desktop-category-section-2-2:after, .show-section .desktop-category-section-2-1:after {
  content: "desktop-category-section-2";
  position: absolute;
  top: -20px;
  left: 0;
  background-color: rgb(255, 255, 255);
  border: 4px solid red;
  color: black;
  z-index: 999999;
}
.show-section .desktop-category-section-2-1:after {
  content: "desktop-category-section-2-1";
}
.show-section .desktop-category-section-2-2:after {
  content: "desktop-category-section-2-2";
}
.show-section .desktop-category-section-2-3:after {
  content: "desktop-category-section-2-3";
}
.show-section .mobile-front-section-2, .show-section .mobile-front-section-2-3, .show-section .mobile-front-section-2-2, .show-section .mobile-front-section-2-1 {
  position: relative;
}
.show-section .mobile-front-section-2:after, .show-section .mobile-front-section-2-3:after, .show-section .mobile-front-section-2-2:after, .show-section .mobile-front-section-2-1:after {
  content: "mobile-front-section-2";
  position: absolute;
  top: -20px;
  left: 0;
  background-color: rgb(255, 255, 255);
  border: 4px solid red;
  color: black;
  z-index: 999999;
}
.show-section .mobile-front-section-2-1:after {
  content: "mobile-front-section-2-1";
}
.show-section .mobile-front-section-2-2:after {
  content: "mobile-front-section-2-2";
}
.show-section .mobile-front-section-2-3:after {
  content: "mobile-front-section-2-3";
}
.show-section .mobile-single-section-2, .show-section .mobile-single-section-2-3, .show-section .mobile-single-section-2-2, .show-section .mobile-single-section-2-1 {
  position: relative;
}
.show-section .mobile-single-section-2:after, .show-section .mobile-single-section-2-3:after, .show-section .mobile-single-section-2-2:after, .show-section .mobile-single-section-2-1:after {
  content: "mobile-single-section-2";
  position: absolute;
  top: -20px;
  left: 0;
  background-color: rgb(255, 255, 255);
  border: 4px solid red;
  color: black;
  z-index: 999999;
}
.show-section .mobile-single-section-2-1:after {
  content: "mobile-single-section-2-1";
}
.show-section .mobile-single-section-2-2:after {
  content: "mobile-single-section-2-2";
}
.show-section .mobile-single-section-2-3:after {
  content: "mobile-single-section-2-3";
}
.show-section .mobile-category-section-2, .show-section .mobile-category-section-2-3, .show-section .mobile-category-section-2-2, .show-section .mobile-category-section-2-1 {
  position: relative;
}
.show-section .mobile-category-section-2:after, .show-section .mobile-category-section-2-3:after, .show-section .mobile-category-section-2-2:after, .show-section .mobile-category-section-2-1:after {
  content: "mobile-category-section-2";
  position: absolute;
  top: -20px;
  left: 0;
  background-color: rgb(255, 255, 255);
  border: 4px solid red;
  color: black;
  z-index: 999999;
}
.show-section .mobile-category-section-2-1:after {
  content: "mobile-category-section-2-1";
}
.show-section .mobile-category-section-2-2:after {
  content: "mobile-category-section-2-2";
}
.show-section .mobile-category-section-2-3:after {
  content: "mobile-category-section-2-3";
}
.show-section .mobile-front-section-2, .show-section .mobile-front-section-2-1, .show-section .mobile-front-section-2-2, .show-section .mobile-front-section-2-3 {
  position: relative;
}
.show-section .mobile-front-section-2:after, .show-section .mobile-front-section-2-1:after, .show-section .mobile-front-section-2-2:after, .show-section .mobile-front-section-2-3:after {
  content: "mobile-front-section-2";
  position: absolute;
  top: -20px;
  left: 0;
  background-color: rgb(255, 255, 255);
  border: 4px solid red;
  color: black;
  z-index: 999999;
}
.show-section .mobile-front-section-2-1:after {
  content: "mobile-front-section-2-1";
}
.show-section .mobile-front-section-2-2:after {
  content: "mobile-front-section-2-2";
}
.show-section .mobile-front-section-2-3:after {
  content: "mobile-front-section-2-3";
}
.show-section .desktop-front-section-3, .show-section .desktop-front-section-3-3, .show-section .desktop-front-section-3-2, .show-section .desktop-front-section-3-1 {
  position: relative;
}
.show-section .desktop-front-section-3:after, .show-section .desktop-front-section-3-3:after, .show-section .desktop-front-section-3-2:after, .show-section .desktop-front-section-3-1:after {
  content: "desktop-front-section-3";
  position: absolute;
  top: -20px;
  left: 0;
  background-color: rgb(255, 255, 255);
  border: 4px solid red;
  color: black;
  z-index: 999999;
}
.show-section .desktop-front-section-3-1:after {
  content: "desktop-front-section-3-1";
}
.show-section .desktop-front-section-3-2:after {
  content: "desktop-front-section-3-2";
}
.show-section .desktop-front-section-3-3:after {
  content: "desktop-front-section-3-3";
}
.show-section .desktop-single-section-3, .show-section .desktop-single-section-3-3, .show-section .desktop-single-section-3-2, .show-section .desktop-single-section-3-1 {
  position: relative;
}
.show-section .desktop-single-section-3:after, .show-section .desktop-single-section-3-3:after, .show-section .desktop-single-section-3-2:after, .show-section .desktop-single-section-3-1:after {
  content: "desktop-single-section-3";
  position: absolute;
  top: -20px;
  left: 0;
  background-color: rgb(255, 255, 255);
  border: 4px solid red;
  color: black;
  z-index: 999999;
}
.show-section .desktop-single-section-3-1:after {
  content: "desktop-single-section-3-1";
}
.show-section .desktop-single-section-3-2:after {
  content: "desktop-single-section-3-2";
}
.show-section .desktop-single-section-3-3:after {
  content: "desktop-single-section-3-3";
}
.show-section .desktop-category-section-3, .show-section .desktop-category-section-3-3, .show-section .desktop-category-section-3-2, .show-section .desktop-category-section-3-1 {
  position: relative;
}
.show-section .desktop-category-section-3:after, .show-section .desktop-category-section-3-3:after, .show-section .desktop-category-section-3-2:after, .show-section .desktop-category-section-3-1:after {
  content: "desktop-category-section-3";
  position: absolute;
  top: -20px;
  left: 0;
  background-color: rgb(255, 255, 255);
  border: 4px solid red;
  color: black;
  z-index: 999999;
}
.show-section .desktop-category-section-3-1:after {
  content: "desktop-category-section-3-1";
}
.show-section .desktop-category-section-3-2:after {
  content: "desktop-category-section-3-2";
}
.show-section .desktop-category-section-3-3:after {
  content: "desktop-category-section-3-3";
}
.show-section .mobile-front-section-3, .show-section .mobile-front-section-3-3, .show-section .mobile-front-section-3-2, .show-section .mobile-front-section-3-1 {
  position: relative;
}
.show-section .mobile-front-section-3:after, .show-section .mobile-front-section-3-3:after, .show-section .mobile-front-section-3-2:after, .show-section .mobile-front-section-3-1:after {
  content: "mobile-front-section-3";
  position: absolute;
  top: -20px;
  left: 0;
  background-color: rgb(255, 255, 255);
  border: 4px solid red;
  color: black;
  z-index: 999999;
}
.show-section .mobile-front-section-3-1:after {
  content: "mobile-front-section-3-1";
}
.show-section .mobile-front-section-3-2:after {
  content: "mobile-front-section-3-2";
}
.show-section .mobile-front-section-3-3:after {
  content: "mobile-front-section-3-3";
}
.show-section .mobile-single-section-3, .show-section .mobile-single-section-3-3, .show-section .mobile-single-section-3-2, .show-section .mobile-single-section-3-1 {
  position: relative;
}
.show-section .mobile-single-section-3:after, .show-section .mobile-single-section-3-3:after, .show-section .mobile-single-section-3-2:after, .show-section .mobile-single-section-3-1:after {
  content: "mobile-single-section-3";
  position: absolute;
  top: -20px;
  left: 0;
  background-color: rgb(255, 255, 255);
  border: 4px solid red;
  color: black;
  z-index: 999999;
}
.show-section .mobile-single-section-3-1:after {
  content: "mobile-single-section-3-1";
}
.show-section .mobile-single-section-3-2:after {
  content: "mobile-single-section-3-2";
}
.show-section .mobile-single-section-3-3:after {
  content: "mobile-single-section-3-3";
}
.show-section .mobile-category-section-3, .show-section .mobile-category-section-3-3, .show-section .mobile-category-section-3-2, .show-section .mobile-category-section-3-1 {
  position: relative;
}
.show-section .mobile-category-section-3:after, .show-section .mobile-category-section-3-3:after, .show-section .mobile-category-section-3-2:after, .show-section .mobile-category-section-3-1:after {
  content: "mobile-category-section-3";
  position: absolute;
  top: -20px;
  left: 0;
  background-color: rgb(255, 255, 255);
  border: 4px solid red;
  color: black;
  z-index: 999999;
}
.show-section .mobile-category-section-3-1:after {
  content: "mobile-category-section-3-1";
}
.show-section .mobile-category-section-3-2:after {
  content: "mobile-category-section-3-2";
}
.show-section .mobile-category-section-3-3:after {
  content: "mobile-category-section-3-3";
}
.show-section .mobile-front-section-3, .show-section .mobile-front-section-3-1, .show-section .mobile-front-section-3-2, .show-section .mobile-front-section-3-3 {
  position: relative;
}
.show-section .mobile-front-section-3:after, .show-section .mobile-front-section-3-1:after, .show-section .mobile-front-section-3-2:after, .show-section .mobile-front-section-3-3:after {
  content: "mobile-front-section-3";
  position: absolute;
  top: -20px;
  left: 0;
  background-color: rgb(255, 255, 255);
  border: 4px solid red;
  color: black;
  z-index: 999999;
}
.show-section .mobile-front-section-3-1:after {
  content: "mobile-front-section-3-1";
}
.show-section .mobile-front-section-3-2:after {
  content: "mobile-front-section-3-2";
}
.show-section .mobile-front-section-3-3:after {
  content: "mobile-front-section-3-3";
}
.show-section .desktop-front-section-4, .show-section .desktop-front-section-4-3, .show-section .desktop-front-section-4-2, .show-section .desktop-front-section-4-1 {
  position: relative;
}
.show-section .desktop-front-section-4:after, .show-section .desktop-front-section-4-3:after, .show-section .desktop-front-section-4-2:after, .show-section .desktop-front-section-4-1:after {
  content: "desktop-front-section-4";
  position: absolute;
  top: -20px;
  left: 0;
  background-color: rgb(255, 255, 255);
  border: 4px solid red;
  color: black;
  z-index: 999999;
}
.show-section .desktop-front-section-4-1:after {
  content: "desktop-front-section-4-1";
}
.show-section .desktop-front-section-4-2:after {
  content: "desktop-front-section-4-2";
}
.show-section .desktop-front-section-4-3:after {
  content: "desktop-front-section-4-3";
}
.show-section .desktop-single-section-4, .show-section .desktop-single-section-4-3, .show-section .desktop-single-section-4-2, .show-section .desktop-single-section-4-1 {
  position: relative;
}
.show-section .desktop-single-section-4:after, .show-section .desktop-single-section-4-3:after, .show-section .desktop-single-section-4-2:after, .show-section .desktop-single-section-4-1:after {
  content: "desktop-single-section-4";
  position: absolute;
  top: -20px;
  left: 0;
  background-color: rgb(255, 255, 255);
  border: 4px solid red;
  color: black;
  z-index: 999999;
}
.show-section .desktop-single-section-4-1:after {
  content: "desktop-single-section-4-1";
}
.show-section .desktop-single-section-4-2:after {
  content: "desktop-single-section-4-2";
}
.show-section .desktop-single-section-4-3:after {
  content: "desktop-single-section-4-3";
}
.show-section .desktop-category-section-4, .show-section .desktop-category-section-4-3, .show-section .desktop-category-section-4-2, .show-section .desktop-category-section-4-1 {
  position: relative;
}
.show-section .desktop-category-section-4:after, .show-section .desktop-category-section-4-3:after, .show-section .desktop-category-section-4-2:after, .show-section .desktop-category-section-4-1:after {
  content: "desktop-category-section-4";
  position: absolute;
  top: -20px;
  left: 0;
  background-color: rgb(255, 255, 255);
  border: 4px solid red;
  color: black;
  z-index: 999999;
}
.show-section .desktop-category-section-4-1:after {
  content: "desktop-category-section-4-1";
}
.show-section .desktop-category-section-4-2:after {
  content: "desktop-category-section-4-2";
}
.show-section .desktop-category-section-4-3:after {
  content: "desktop-category-section-4-3";
}
.show-section .mobile-front-section-4, .show-section .mobile-front-section-4-3, .show-section .mobile-front-section-4-2, .show-section .mobile-front-section-4-1 {
  position: relative;
}
.show-section .mobile-front-section-4:after, .show-section .mobile-front-section-4-3:after, .show-section .mobile-front-section-4-2:after, .show-section .mobile-front-section-4-1:after {
  content: "mobile-front-section-4";
  position: absolute;
  top: -20px;
  left: 0;
  background-color: rgb(255, 255, 255);
  border: 4px solid red;
  color: black;
  z-index: 999999;
}
.show-section .mobile-front-section-4-1:after {
  content: "mobile-front-section-4-1";
}
.show-section .mobile-front-section-4-2:after {
  content: "mobile-front-section-4-2";
}
.show-section .mobile-front-section-4-3:after {
  content: "mobile-front-section-4-3";
}
.show-section .mobile-single-section-6, .show-section .mobile-single-section-6-3, .show-section .mobile-single-section-6-2, .show-section .mobile-single-section-6-1 {
  position: relative;
}
.show-section .mobile-single-section-6:after, .show-section .mobile-single-section-6-3:after, .show-section .mobile-single-section-6-2:after, .show-section .mobile-single-section-6-1:after {
  content: "mobile-single-section-6";
  position: absolute;
  top: -20px;
  left: 0;
  background-color: rgb(255, 255, 255);
  border: 4px solid red;
  color: black;
  z-index: 999999;
}
.show-section .mobile-single-section-6-1:after {
  content: "mobile-single-section-6-1";
}
.show-section .mobile-single-section-6-2:after {
  content: "mobile-single-section-6-2";
}
.show-section .mobile-single-section-6-3:after {
  content: "mobile-single-section-6-3";
}
.show-section .mobile-category-section-4, .show-section .mobile-category-section-4-3, .show-section .mobile-category-section-4-2, .show-section .mobile-category-section-4-1 {
  position: relative;
}
.show-section .mobile-category-section-4:after, .show-section .mobile-category-section-4-3:after, .show-section .mobile-category-section-4-2:after, .show-section .mobile-category-section-4-1:after {
  content: "mobile-category-section-4";
  position: absolute;
  top: -20px;
  left: 0;
  background-color: rgb(255, 255, 255);
  border: 4px solid red;
  color: black;
  z-index: 999999;
}
.show-section .mobile-category-section-4-1:after {
  content: "mobile-category-section-4-1";
}
.show-section .mobile-category-section-4-2:after {
  content: "mobile-category-section-4-2";
}
.show-section .mobile-category-section-4-3:after {
  content: "mobile-category-section-4-3";
}
.show-section .mobile-front-section-4, .show-section .mobile-front-section-4-1, .show-section .mobile-front-section-4-2, .show-section .mobile-front-section-4-3 {
  position: relative;
}
.show-section .mobile-front-section-4:after, .show-section .mobile-front-section-4-1:after, .show-section .mobile-front-section-4-2:after, .show-section .mobile-front-section-4-3:after {
  content: "mobile-front-section-4";
  position: absolute;
  top: -20px;
  left: 0;
  background-color: rgb(255, 255, 255);
  border: 4px solid red;
  color: black;
  z-index: 999999;
}
.show-section .mobile-front-section-4-1:after {
  content: "mobile-front-section-4-1";
}
.show-section .mobile-front-section-4-2:after {
  content: "mobile-front-section-4-2";
}
.show-section .mobile-front-section-4-3:after {
  content: "mobile-front-section-4-3";
}
.show-section .desktop-front-section-5, .show-section .desktop-front-section-5-3, .show-section .desktop-front-section-5-2, .show-section .desktop-front-section-5-1 {
  position: relative;
}
.show-section .desktop-front-section-5:after, .show-section .desktop-front-section-5-3:after, .show-section .desktop-front-section-5-2:after, .show-section .desktop-front-section-5-1:after {
  content: "desktop-front-section-5";
  position: absolute;
  top: -20px;
  left: 0;
  background-color: rgb(255, 255, 255);
  border: 4px solid red;
  color: black;
  z-index: 999999;
}
.show-section .desktop-front-section-5-1:after {
  content: "desktop-front-section-5-1";
}
.show-section .desktop-front-section-5-2:after {
  content: "desktop-front-section-5-2";
}
.show-section .desktop-front-section-5-3:after {
  content: "desktop-front-section-5-3";
}
.show-section .desktop-single-section-5, .show-section .desktop-single-section-5-3, .show-section .desktop-single-section-5-2, .show-section .desktop-single-section-5-1 {
  position: relative;
}
.show-section .desktop-single-section-5:after, .show-section .desktop-single-section-5-3:after, .show-section .desktop-single-section-5-2:after, .show-section .desktop-single-section-5-1:after {
  content: "desktop-single-section-5";
  position: absolute;
  top: -20px;
  left: 0;
  background-color: rgb(255, 255, 255);
  border: 4px solid red;
  color: black;
  z-index: 999999;
}
.show-section .desktop-single-section-5-1:after {
  content: "desktop-single-section-5-1";
}
.show-section .desktop-single-section-5-2:after {
  content: "desktop-single-section-5-2";
}
.show-section .desktop-single-section-5-3:after {
  content: "desktop-single-section-5-3";
}
.show-section .desktop-category-section-5, .show-section .desktop-category-section-5-3, .show-section .desktop-category-section-5-2, .show-section .desktop-category-section-5-1 {
  position: relative;
}
.show-section .desktop-category-section-5:after, .show-section .desktop-category-section-5-3:after, .show-section .desktop-category-section-5-2:after, .show-section .desktop-category-section-5-1:after {
  content: "desktop-category-section-5";
  position: absolute;
  top: -20px;
  left: 0;
  background-color: rgb(255, 255, 255);
  border: 4px solid red;
  color: black;
  z-index: 999999;
}
.show-section .desktop-category-section-5-1:after {
  content: "desktop-category-section-5-1";
}
.show-section .desktop-category-section-5-2:after {
  content: "desktop-category-section-5-2";
}
.show-section .desktop-category-section-5-3:after {
  content: "desktop-category-section-5-3";
}
.show-section .mobile-front-section-5, .show-section .mobile-front-section-5-3, .show-section .mobile-front-section-5-2, .show-section .mobile-front-section-5-1 {
  position: relative;
}
.show-section .mobile-front-section-5:after, .show-section .mobile-front-section-5-3:after, .show-section .mobile-front-section-5-2:after, .show-section .mobile-front-section-5-1:after {
  content: "mobile-front-section-5";
  position: absolute;
  top: -20px;
  left: 0;
  background-color: rgb(255, 255, 255);
  border: 4px solid red;
  color: black;
  z-index: 999999;
}
.show-section .mobile-front-section-5-1:after {
  content: "mobile-front-section-5-1";
}
.show-section .mobile-front-section-5-2:after {
  content: "mobile-front-section-5-2";
}
.show-section .mobile-front-section-5-3:after {
  content: "mobile-front-section-5-3";
}
.show-section .mobile-single-section-5, .show-section .mobile-single-section-5-3, .show-section .mobile-single-section-5-2, .show-section .mobile-single-section-5-1 {
  position: relative;
}
.show-section .mobile-single-section-5:after, .show-section .mobile-single-section-5-3:after, .show-section .mobile-single-section-5-2:after, .show-section .mobile-single-section-5-1:after {
  content: "mobile-single-section-5";
  position: absolute;
  top: -20px;
  left: 0;
  background-color: rgb(255, 255, 255);
  border: 4px solid red;
  color: black;
  z-index: 999999;
}
.show-section .mobile-single-section-5-1:after {
  content: "mobile-single-section-5-1";
}
.show-section .mobile-single-section-5-2:after {
  content: "mobile-single-section-5-2";
}
.show-section .mobile-single-section-5-3:after {
  content: "mobile-single-section-5-3";
}
.show-section .mobile-category-section-5, .show-section .mobile-category-section-5-3, .show-section .mobile-category-section-5-2, .show-section .mobile-category-section-5-1 {
  position: relative;
}
.show-section .mobile-category-section-5:after, .show-section .mobile-category-section-5-3:after, .show-section .mobile-category-section-5-2:after, .show-section .mobile-category-section-5-1:after {
  content: "mobile-category-section-5";
  position: absolute;
  top: -20px;
  left: 0;
  background-color: rgb(255, 255, 255);
  border: 4px solid red;
  color: black;
  z-index: 999999;
}
.show-section .mobile-category-section-5-1:after {
  content: "mobile-category-section-5-1";
}
.show-section .mobile-category-section-5-2:after {
  content: "mobile-category-section-5-2";
}
.show-section .mobile-category-section-5-3:after {
  content: "mobile-category-section-5-3";
}
.show-section .mobile-front-section-5, .show-section .mobile-front-section-5-1, .show-section .mobile-front-section-5-2, .show-section .mobile-front-section-5-3 {
  position: relative;
}
.show-section .mobile-front-section-5:after, .show-section .mobile-front-section-5-1:after, .show-section .mobile-front-section-5-2:after, .show-section .mobile-front-section-5-3:after {
  content: "mobile-front-section-5";
  position: absolute;
  top: -20px;
  left: 0;
  background-color: rgb(255, 255, 255);
  border: 4px solid red;
  color: black;
  z-index: 999999;
}
.show-section .mobile-front-section-5-1:after {
  content: "mobile-front-section-5-1";
}
.show-section .mobile-front-section-5-2:after {
  content: "mobile-front-section-5-2";
}
.show-section .mobile-front-section-5-3:after {
  content: "mobile-front-section-5-3";
}
.show-section .desktop-front-section-6, .show-section .desktop-front-section-6-3, .show-section .desktop-front-section-6-2, .show-section .desktop-front-section-6-1 {
  position: relative;
}
.show-section .desktop-front-section-6:after, .show-section .desktop-front-section-6-3:after, .show-section .desktop-front-section-6-2:after, .show-section .desktop-front-section-6-1:after {
  content: "desktop-front-section-6";
  position: absolute;
  top: -20px;
  left: 0;
  background-color: rgb(255, 255, 255);
  border: 4px solid red;
  color: black;
  z-index: 999999;
}
.show-section .desktop-front-section-6-1:after {
  content: "desktop-front-section-6-1";
}
.show-section .desktop-front-section-6-2:after {
  content: "desktop-front-section-6-2";
}
.show-section .desktop-front-section-6-3:after {
  content: "desktop-front-section-6-3";
}
.show-section .desktop-single-section-6, .show-section .desktop-single-section-6-3, .show-section .desktop-single-section-6-2, .show-section .desktop-single-section-6-1 {
  position: relative;
}
.show-section .desktop-single-section-6:after, .show-section .desktop-single-section-6-3:after, .show-section .desktop-single-section-6-2:after, .show-section .desktop-single-section-6-1:after {
  content: "desktop-single-section-6";
  position: absolute;
  top: -20px;
  left: 0;
  background-color: rgb(255, 255, 255);
  border: 4px solid red;
  color: black;
  z-index: 999999;
}
.show-section .desktop-single-section-6-1:after {
  content: "desktop-single-section-6-1";
}
.show-section .desktop-single-section-6-2:after {
  content: "desktop-single-section-6-2";
}
.show-section .desktop-single-section-6-3:after {
  content: "desktop-single-section-6-3";
}
.show-section .desktop-category-section-6, .show-section .desktop-category-section-6-3, .show-section .desktop-category-section-6-2, .show-section .desktop-category-section-6-1 {
  position: relative;
}
.show-section .desktop-category-section-6:after, .show-section .desktop-category-section-6-3:after, .show-section .desktop-category-section-6-2:after, .show-section .desktop-category-section-6-1:after {
  content: "desktop-category-section-6";
  position: absolute;
  top: -20px;
  left: 0;
  background-color: rgb(255, 255, 255);
  border: 4px solid red;
  color: black;
  z-index: 999999;
}
.show-section .desktop-category-section-6-1:after {
  content: "desktop-category-section-6-1";
}
.show-section .desktop-category-section-6-2:after {
  content: "desktop-category-section-6-2";
}
.show-section .desktop-category-section-6-3:after {
  content: "desktop-category-section-6-3";
}
.show-section .mobile-front-section-6, .show-section .mobile-front-section-6-3, .show-section .mobile-front-section-6-2, .show-section .mobile-front-section-6-1 {
  position: relative;
}
.show-section .mobile-front-section-6:after, .show-section .mobile-front-section-6-3:after, .show-section .mobile-front-section-6-2:after, .show-section .mobile-front-section-6-1:after {
  content: "mobile-front-section-6";
  position: absolute;
  top: -20px;
  left: 0;
  background-color: rgb(255, 255, 255);
  border: 4px solid red;
  color: black;
  z-index: 999999;
}
.show-section .mobile-front-section-6-1:after {
  content: "mobile-front-section-6-1";
}
.show-section .mobile-front-section-6-2:after {
  content: "mobile-front-section-6-2";
}
.show-section .mobile-front-section-6-3:after {
  content: "mobile-front-section-6-3";
}
.show-section .mobile-single-section-6, .show-section .mobile-single-section-6-3, .show-section .mobile-single-section-6-2, .show-section .mobile-single-section-6-1 {
  position: relative;
}
.show-section .mobile-single-section-6:after, .show-section .mobile-single-section-6-3:after, .show-section .mobile-single-section-6-2:after, .show-section .mobile-single-section-6-1:after {
  content: "mobile-single-section-6";
  position: absolute;
  top: -20px;
  left: 0;
  background-color: rgb(255, 255, 255);
  border: 4px solid red;
  color: black;
  z-index: 999999;
}
.show-section .mobile-single-section-6-1:after {
  content: "mobile-single-section-6-1";
}
.show-section .mobile-single-section-6-2:after {
  content: "mobile-single-section-6-2";
}
.show-section .mobile-single-section-6-3:after {
  content: "mobile-single-section-6-3";
}
.show-section .mobile-category-section-6, .show-section .mobile-category-section-6-3, .show-section .mobile-category-section-6-2, .show-section .mobile-category-section-6-1 {
  position: relative;
}
.show-section .mobile-category-section-6:after, .show-section .mobile-category-section-6-3:after, .show-section .mobile-category-section-6-2:after, .show-section .mobile-category-section-6-1:after {
  content: "mobile-category-section-6";
  position: absolute;
  top: -20px;
  left: 0;
  background-color: rgb(255, 255, 255);
  border: 4px solid red;
  color: black;
  z-index: 999999;
}
.show-section .mobile-category-section-6-1:after {
  content: "mobile-category-section-6-1";
}
.show-section .mobile-category-section-6-2:after {
  content: "mobile-category-section-6-2";
}
.show-section .mobile-category-section-6-3:after {
  content: "mobile-category-section-6-3";
}
.show-section .mobile-front-section-6, .show-section .mobile-front-section-6-1, .show-section .mobile-front-section-6-2, .show-section .mobile-front-section-6-3 {
  position: relative;
}
.show-section .mobile-front-section-6:after, .show-section .mobile-front-section-6-1:after, .show-section .mobile-front-section-6-2:after, .show-section .mobile-front-section-6-3:after {
  content: "mobile-front-section-6";
  position: absolute;
  top: -20px;
  left: 0;
  background-color: rgb(255, 255, 255);
  border: 4px solid red;
  color: black;
  z-index: 999999;
}
.show-section .mobile-front-section-6-1:after {
  content: "mobile-front-section-6-1";
}
.show-section .mobile-front-section-6-2:after {
  content: "mobile-front-section-6-2";
}
.show-section .mobile-front-section-6-3:after {
  content: "mobile-front-section-6-3";
}
.show-section .desktop-front-section-7, .show-section .desktop-front-section-7-3, .show-section .desktop-front-section-7-2, .show-section .desktop-front-section-7-1 {
  position: relative;
}
.show-section .desktop-front-section-7:after, .show-section .desktop-front-section-7-3:after, .show-section .desktop-front-section-7-2:after, .show-section .desktop-front-section-7-1:after {
  content: "desktop-front-section-7";
  position: absolute;
  top: -20px;
  left: 0;
  background-color: rgb(255, 255, 255);
  border: 4px solid red;
  color: black;
  z-index: 999999;
}
.show-section .desktop-front-section-7-1:after {
  content: "desktop-front-section-7-1";
}
.show-section .desktop-front-section-7-2:after {
  content: "desktop-front-section-7-2";
}
.show-section .desktop-front-section-7-3:after {
  content: "desktop-front-section-7-3";
}
.show-section .desktop-single-section-7, .show-section .desktop-single-section-7-3, .show-section .desktop-single-section-7-2, .show-section .desktop-single-section-7-1 {
  position: relative;
}
.show-section .desktop-single-section-7:after, .show-section .desktop-single-section-7-3:after, .show-section .desktop-single-section-7-2:after, .show-section .desktop-single-section-7-1:after {
  content: "desktop-single-section-7";
  position: absolute;
  top: -20px;
  left: 0;
  background-color: rgb(255, 255, 255);
  border: 4px solid red;
  color: black;
  z-index: 999999;
}
.show-section .desktop-single-section-7-1:after {
  content: "desktop-single-section-7-1";
}
.show-section .desktop-single-section-7-2:after {
  content: "desktop-single-section-7-2";
}
.show-section .desktop-single-section-7-3:after {
  content: "desktop-single-section-7-3";
}
.show-section .desktop-category-section-7, .show-section .desktop-category-section-7-3, .show-section .desktop-category-section-7-2, .show-section .desktop-category-section-7-1 {
  position: relative;
}
.show-section .desktop-category-section-7:after, .show-section .desktop-category-section-7-3:after, .show-section .desktop-category-section-7-2:after, .show-section .desktop-category-section-7-1:after {
  content: "desktop-category-section-7";
  position: absolute;
  top: -20px;
  left: 0;
  background-color: rgb(255, 255, 255);
  border: 4px solid red;
  color: black;
  z-index: 999999;
}
.show-section .desktop-category-section-7-1:after {
  content: "desktop-category-section-7-1";
}
.show-section .desktop-category-section-7-2:after {
  content: "desktop-category-section-7-2";
}
.show-section .desktop-category-section-7-3:after {
  content: "desktop-category-section-7-3";
}
.show-section .mobile-front-section-7, .show-section .mobile-front-section-7-3, .show-section .mobile-front-section-7-2, .show-section .mobile-front-section-7-1 {
  position: relative;
}
.show-section .mobile-front-section-7:after, .show-section .mobile-front-section-7-3:after, .show-section .mobile-front-section-7-2:after, .show-section .mobile-front-section-7-1:after {
  content: "mobile-front-section-7";
  position: absolute;
  top: -20px;
  left: 0;
  background-color: rgb(255, 255, 255);
  border: 4px solid red;
  color: black;
  z-index: 999999;
}
.show-section .mobile-front-section-7-1:after {
  content: "mobile-front-section-7-1";
}
.show-section .mobile-front-section-7-2:after {
  content: "mobile-front-section-7-2";
}
.show-section .mobile-front-section-7-3:after {
  content: "mobile-front-section-7-3";
}
.show-section .mobile-single-section-7, .show-section .mobile-single-section-7-3, .show-section .mobile-single-section-7-2, .show-section .mobile-single-section-7-1 {
  position: relative;
}
.show-section .mobile-single-section-7:after, .show-section .mobile-single-section-7-3:after, .show-section .mobile-single-section-7-2:after, .show-section .mobile-single-section-7-1:after {
  content: "mobile-single-section-7";
  position: absolute;
  top: -20px;
  left: 0;
  background-color: rgb(255, 255, 255);
  border: 4px solid red;
  color: black;
  z-index: 999999;
}
.show-section .mobile-single-section-7-1:after {
  content: "mobile-single-section-7-1";
}
.show-section .mobile-single-section-7-2:after {
  content: "mobile-single-section-7-2";
}
.show-section .mobile-single-section-7-3:after {
  content: "mobile-single-section-7-3";
}
.show-section .mobile-category-section-7, .show-section .mobile-category-section-7-3, .show-section .mobile-category-section-7-2, .show-section .mobile-category-section-7-1 {
  position: relative;
}
.show-section .mobile-category-section-7:after, .show-section .mobile-category-section-7-3:after, .show-section .mobile-category-section-7-2:after, .show-section .mobile-category-section-7-1:after {
  content: "mobile-category-section-7";
  position: absolute;
  top: -20px;
  left: 0;
  background-color: rgb(255, 255, 255);
  border: 4px solid red;
  color: black;
  z-index: 999999;
}
.show-section .mobile-category-section-7-1:after {
  content: "mobile-category-section-7-1";
}
.show-section .mobile-category-section-7-2:after {
  content: "mobile-category-section-7-2";
}
.show-section .mobile-category-section-7-3:after {
  content: "mobile-category-section-7-3";
}
.show-section .mobile-front-section-7, .show-section .mobile-front-section-7-1, .show-section .mobile-front-section-7-2, .show-section .mobile-front-section-7-3 {
  position: relative;
}
.show-section .mobile-front-section-7:after, .show-section .mobile-front-section-7-1:after, .show-section .mobile-front-section-7-2:after, .show-section .mobile-front-section-7-3:after {
  content: "mobile-front-section-7";
  position: absolute;
  top: -20px;
  left: 0;
  background-color: rgb(255, 255, 255);
  border: 4px solid red;
  color: black;
  z-index: 999999;
}
.show-section .mobile-front-section-7-1:after {
  content: "mobile-front-section-7-1";
}
.show-section .mobile-front-section-7-2:after {
  content: "mobile-front-section-7-2";
}
.show-section .mobile-front-section-7-3:after {
  content: "mobile-front-section-7-3";
}
.show-section .desktop-front-section-8, .show-section .desktop-front-section-8-3, .show-section .desktop-front-section-8-2, .show-section .desktop-front-section-8-1 {
  position: relative;
}
.show-section .desktop-front-section-8:after, .show-section .desktop-front-section-8-3:after, .show-section .desktop-front-section-8-2:after, .show-section .desktop-front-section-8-1:after {
  content: "desktop-front-section-8";
  position: absolute;
  top: -20px;
  left: 0;
  background-color: rgb(255, 255, 255);
  border: 4px solid red;
  color: black;
  z-index: 999999;
}
.show-section .desktop-front-section-8-1:after {
  content: "desktop-front-section-8-1";
}
.show-section .desktop-front-section-8-2:after {
  content: "desktop-front-section-8-2";
}
.show-section .desktop-front-section-8-3:after {
  content: "desktop-front-section-8-3";
}
.show-section .desktop-single-section-8, .show-section .desktop-single-section-8-3, .show-section .desktop-single-section-8-2, .show-section .desktop-single-section-8-1 {
  position: relative;
}
.show-section .desktop-single-section-8:after, .show-section .desktop-single-section-8-3:after, .show-section .desktop-single-section-8-2:after, .show-section .desktop-single-section-8-1:after {
  content: "desktop-single-section-8";
  position: absolute;
  top: -20px;
  left: 0;
  background-color: rgb(255, 255, 255);
  border: 4px solid red;
  color: black;
  z-index: 999999;
}
.show-section .desktop-single-section-8-1:after {
  content: "desktop-single-section-8-1";
}
.show-section .desktop-single-section-8-2:after {
  content: "desktop-single-section-8-2";
}
.show-section .desktop-single-section-8-3:after {
  content: "desktop-single-section-8-3";
}
.show-section .desktop-category-section-8, .show-section .desktop-category-section-8-3, .show-section .desktop-category-section-8-2, .show-section .desktop-category-section-8-1 {
  position: relative;
}
.show-section .desktop-category-section-8:after, .show-section .desktop-category-section-8-3:after, .show-section .desktop-category-section-8-2:after, .show-section .desktop-category-section-8-1:after {
  content: "desktop-category-section-8";
  position: absolute;
  top: -20px;
  left: 0;
  background-color: rgb(255, 255, 255);
  border: 4px solid red;
  color: black;
  z-index: 999999;
}
.show-section .desktop-category-section-8-1:after {
  content: "desktop-category-section-8-1";
}
.show-section .desktop-category-section-8-2:after {
  content: "desktop-category-section-8-2";
}
.show-section .desktop-category-section-8-3:after {
  content: "desktop-category-section-8-3";
}
.show-section .mobile-front-section-8, .show-section .mobile-front-section-8-3, .show-section .mobile-front-section-8-2, .show-section .mobile-front-section-8-1 {
  position: relative;
}
.show-section .mobile-front-section-8:after, .show-section .mobile-front-section-8-3:after, .show-section .mobile-front-section-8-2:after, .show-section .mobile-front-section-8-1:after {
  content: "mobile-front-section-8";
  position: absolute;
  top: -20px;
  left: 0;
  background-color: rgb(255, 255, 255);
  border: 4px solid red;
  color: black;
  z-index: 999999;
}
.show-section .mobile-front-section-8-1:after {
  content: "mobile-front-section-8-1";
}
.show-section .mobile-front-section-8-2:after {
  content: "mobile-front-section-8-2";
}
.show-section .mobile-front-section-8-3:after {
  content: "mobile-front-section-8-3";
}
.show-section .mobile-single-section-8, .show-section .mobile-single-section-8-3, .show-section .mobile-single-section-8-2, .show-section .mobile-single-section-8-1 {
  position: relative;
}
.show-section .mobile-single-section-8:after, .show-section .mobile-single-section-8-3:after, .show-section .mobile-single-section-8-2:after, .show-section .mobile-single-section-8-1:after {
  content: "mobile-single-section-8";
  position: absolute;
  top: -20px;
  left: 0;
  background-color: rgb(255, 255, 255);
  border: 4px solid red;
  color: black;
  z-index: 999999;
}
.show-section .mobile-single-section-8-1:after {
  content: "mobile-single-section-8-1";
}
.show-section .mobile-single-section-8-2:after {
  content: "mobile-single-section-8-2";
}
.show-section .mobile-single-section-8-3:after {
  content: "mobile-single-section-8-3";
}
.show-section .mobile-category-section-8, .show-section .mobile-category-section-8-3, .show-section .mobile-category-section-8-2, .show-section .mobile-category-section-8-1 {
  position: relative;
}
.show-section .mobile-category-section-8:after, .show-section .mobile-category-section-8-3:after, .show-section .mobile-category-section-8-2:after, .show-section .mobile-category-section-8-1:after {
  content: "mobile-category-section-8";
  position: absolute;
  top: -20px;
  left: 0;
  background-color: rgb(255, 255, 255);
  border: 4px solid red;
  color: black;
  z-index: 999999;
}
.show-section .mobile-category-section-8-1:after {
  content: "mobile-category-section-8-1";
}
.show-section .mobile-category-section-8-2:after {
  content: "mobile-category-section-8-2";
}
.show-section .mobile-category-section-8-3:after {
  content: "mobile-category-section-8-3";
}
.show-section .mobile-front-section-8, .show-section .mobile-front-section-8-1, .show-section .mobile-front-section-8-2, .show-section .mobile-front-section-8-3 {
  position: relative;
}
.show-section .mobile-front-section-8:after, .show-section .mobile-front-section-8-1:after, .show-section .mobile-front-section-8-2:after, .show-section .mobile-front-section-8-3:after {
  content: "mobile-front-section-8";
  position: absolute;
  top: -20px;
  left: 0;
  background-color: rgb(255, 255, 255);
  border: 4px solid red;
  color: black;
  z-index: 999999;
}
.show-section .mobile-front-section-8-1:after {
  content: "mobile-front-section-8-1";
}
.show-section .mobile-front-section-8-2:after {
  content: "mobile-front-section-8-2";
}
.show-section .mobile-front-section-8-3:after {
  content: "mobile-front-section-8-3";
}
.show-section .desktop-front-section-9, .show-section .desktop-front-section-9-3, .show-section .desktop-front-section-9-2, .show-section .desktop-front-section-9-1 {
  position: relative;
}
.show-section .desktop-front-section-9:after, .show-section .desktop-front-section-9-3:after, .show-section .desktop-front-section-9-2:after, .show-section .desktop-front-section-9-1:after {
  content: "desktop-front-section-9";
  position: absolute;
  top: -20px;
  left: 0;
  background-color: rgb(255, 255, 255);
  border: 4px solid red;
  color: black;
  z-index: 999999;
}
.show-section .desktop-front-section-9-1:after {
  content: "desktop-front-section-9-1";
}
.show-section .desktop-front-section-9-2:after {
  content: "desktop-front-section-9-2";
}
.show-section .desktop-front-section-9-3:after {
  content: "desktop-front-section-9-3";
}
.show-section .desktop-single-section-9, .show-section .desktop-single-section-9-3, .show-section .desktop-single-section-9-2, .show-section .desktop-single-section-9-1 {
  position: relative;
}
.show-section .desktop-single-section-9:after, .show-section .desktop-single-section-9-3:after, .show-section .desktop-single-section-9-2:after, .show-section .desktop-single-section-9-1:after {
  content: "desktop-single-section-9";
  position: absolute;
  top: -20px;
  left: 0;
  background-color: rgb(255, 255, 255);
  border: 4px solid red;
  color: black;
  z-index: 999999;
}
.show-section .desktop-single-section-9-1:after {
  content: "desktop-single-section-9-1";
}
.show-section .desktop-single-section-9-2:after {
  content: "desktop-single-section-9-2";
}
.show-section .desktop-single-section-9-3:after {
  content: "desktop-single-section-9-3";
}
.show-section .desktop-category-section-9, .show-section .desktop-category-section-9-3, .show-section .desktop-category-section-9-2, .show-section .desktop-category-section-9-1 {
  position: relative;
}
.show-section .desktop-category-section-9:after, .show-section .desktop-category-section-9-3:after, .show-section .desktop-category-section-9-2:after, .show-section .desktop-category-section-9-1:after {
  content: "desktop-category-section-9";
  position: absolute;
  top: -20px;
  left: 0;
  background-color: rgb(255, 255, 255);
  border: 4px solid red;
  color: black;
  z-index: 999999;
}
.show-section .desktop-category-section-9-1:after {
  content: "desktop-category-section-9-1";
}
.show-section .desktop-category-section-9-2:after {
  content: "desktop-category-section-9-2";
}
.show-section .desktop-category-section-9-3:after {
  content: "desktop-category-section-9-3";
}
.show-section .mobile-front-section-9, .show-section .mobile-front-section-9-3, .show-section .mobile-front-section-9-2, .show-section .mobile-front-section-9-1 {
  position: relative;
}
.show-section .mobile-front-section-9:after, .show-section .mobile-front-section-9-3:after, .show-section .mobile-front-section-9-2:after, .show-section .mobile-front-section-9-1:after {
  content: "mobile-front-section-9";
  position: absolute;
  top: -20px;
  left: 0;
  background-color: rgb(255, 255, 255);
  border: 4px solid red;
  color: black;
  z-index: 999999;
}
.show-section .mobile-front-section-9-1:after {
  content: "mobile-front-section-9-1";
}
.show-section .mobile-front-section-9-2:after {
  content: "mobile-front-section-9-2";
}
.show-section .mobile-front-section-9-3:after {
  content: "mobile-front-section-9-3";
}
.show-section .mobile-single-section-9, .show-section .mobile-single-section-9-3, .show-section .mobile-single-section-9-2, .show-section .mobile-single-section-9-1 {
  position: relative;
}
.show-section .mobile-single-section-9:after, .show-section .mobile-single-section-9-3:after, .show-section .mobile-single-section-9-2:after, .show-section .mobile-single-section-9-1:after {
  content: "mobile-single-section-9";
  position: absolute;
  top: -20px;
  left: 0;
  background-color: rgb(255, 255, 255);
  border: 4px solid red;
  color: black;
  z-index: 999999;
}
.show-section .mobile-single-section-9-1:after {
  content: "mobile-single-section-9-1";
}
.show-section .mobile-single-section-9-2:after {
  content: "mobile-single-section-9-2";
}
.show-section .mobile-single-section-9-3:after {
  content: "mobile-single-section-9-3";
}
.show-section .mobile-category-section-9, .show-section .mobile-category-section-9-3, .show-section .mobile-category-section-9-2, .show-section .mobile-category-section-9-1 {
  position: relative;
}
.show-section .mobile-category-section-9:after, .show-section .mobile-category-section-9-3:after, .show-section .mobile-category-section-9-2:after, .show-section .mobile-category-section-9-1:after {
  content: "mobile-category-section-9";
  position: absolute;
  top: -20px;
  left: 0;
  background-color: rgb(255, 255, 255);
  border: 4px solid red;
  color: black;
  z-index: 999999;
}
.show-section .mobile-category-section-9-1:after {
  content: "mobile-category-section-9-1";
}
.show-section .mobile-category-section-9-2:after {
  content: "mobile-category-section-9-2";
}
.show-section .mobile-category-section-9-3:after {
  content: "mobile-category-section-9-3";
}
.show-section .mobile-front-section-9, .show-section .mobile-front-section-9-1, .show-section .mobile-front-section-9-2, .show-section .mobile-front-section-9-3 {
  position: relative;
}
.show-section .mobile-front-section-9:after, .show-section .mobile-front-section-9-1:after, .show-section .mobile-front-section-9-2:after, .show-section .mobile-front-section-9-3:after {
  content: "mobile-front-section-9";
  position: absolute;
  top: -20px;
  left: 0;
  background-color: rgb(255, 255, 255);
  border: 4px solid red;
  color: black;
  z-index: 999999;
}
.show-section .mobile-front-section-9-1:after {
  content: "mobile-front-section-9-1";
}
.show-section .mobile-front-section-9-2:after {
  content: "mobile-front-section-9-2";
}
.show-section .mobile-front-section-9-3:after {
  content: "mobile-front-section-9-3";
}
.show-section .desktop-front-section-10, .show-section .desktop-front-section-10-3, .show-section .desktop-front-section-10-2, .show-section .desktop-front-section-10-1 {
  position: relative;
}
.show-section .desktop-front-section-10:after, .show-section .desktop-front-section-10-3:after, .show-section .desktop-front-section-10-2:after, .show-section .desktop-front-section-10-1:after {
  content: "desktop-front-section-10";
  position: absolute;
  top: -20px;
  left: 0;
  background-color: rgb(255, 255, 255);
  border: 4px solid red;
  color: black;
  z-index: 999999;
}
.show-section .desktop-front-section-10-1:after {
  content: "desktop-front-section-10-1";
}
.show-section .desktop-front-section-10-2:after {
  content: "desktop-front-section-10-2";
}
.show-section .desktop-front-section-10-3:after {
  content: "desktop-front-section-10-3";
}
.show-section .desktop-single-section-10, .show-section .desktop-single-section-10-3, .show-section .desktop-single-section-10-2, .show-section .desktop-single-section-10-1 {
  position: relative;
}
.show-section .desktop-single-section-10:after, .show-section .desktop-single-section-10-3:after, .show-section .desktop-single-section-10-2:after, .show-section .desktop-single-section-10-1:after {
  content: "desktop-single-section-10";
  position: absolute;
  top: -20px;
  left: 0;
  background-color: rgb(255, 255, 255);
  border: 4px solid red;
  color: black;
  z-index: 999999;
}
.show-section .desktop-single-section-10-1:after {
  content: "desktop-single-section-10-1";
}
.show-section .desktop-single-section-10-2:after {
  content: "desktop-single-section-10-2";
}
.show-section .desktop-single-section-10-3:after {
  content: "desktop-single-section-10-3";
}
.show-section .desktop-category-section-10, .show-section .desktop-category-section-10-3, .show-section .desktop-category-section-10-2, .show-section .desktop-category-section-10-1 {
  position: relative;
}
.show-section .desktop-category-section-10:after, .show-section .desktop-category-section-10-3:after, .show-section .desktop-category-section-10-2:after, .show-section .desktop-category-section-10-1:after {
  content: "desktop-category-section-10";
  position: absolute;
  top: -20px;
  left: 0;
  background-color: rgb(255, 255, 255);
  border: 4px solid red;
  color: black;
  z-index: 999999;
}
.show-section .desktop-category-section-10-1:after {
  content: "desktop-category-section-10-1";
}
.show-section .desktop-category-section-10-2:after {
  content: "desktop-category-section-10-2";
}
.show-section .desktop-category-section-10-3:after {
  content: "desktop-category-section-10-3";
}
.show-section .mobile-front-section-10, .show-section .mobile-front-section-10-3, .show-section .mobile-front-section-10-2, .show-section .mobile-front-section-10-1 {
  position: relative;
}
.show-section .mobile-front-section-10:after, .show-section .mobile-front-section-10-3:after, .show-section .mobile-front-section-10-2:after, .show-section .mobile-front-section-10-1:after {
  content: "mobile-front-section-10";
  position: absolute;
  top: -20px;
  left: 0;
  background-color: rgb(255, 255, 255);
  border: 4px solid red;
  color: black;
  z-index: 999999;
}
.show-section .mobile-front-section-10-1:after {
  content: "mobile-front-section-10-1";
}
.show-section .mobile-front-section-10-2:after {
  content: "mobile-front-section-10-2";
}
.show-section .mobile-front-section-10-3:after {
  content: "mobile-front-section-10-3";
}
.show-section .mobile-single-section-10, .show-section .mobile-single-section-10-3, .show-section .mobile-single-section-10-2, .show-section .mobile-single-section-10-1 {
  position: relative;
}
.show-section .mobile-single-section-10:after, .show-section .mobile-single-section-10-3:after, .show-section .mobile-single-section-10-2:after, .show-section .mobile-single-section-10-1:after {
  content: "mobile-single-section-10";
  position: absolute;
  top: -20px;
  left: 0;
  background-color: rgb(255, 255, 255);
  border: 4px solid red;
  color: black;
  z-index: 999999;
}
.show-section .mobile-single-section-10-1:after {
  content: "mobile-single-section-10-1";
}
.show-section .mobile-single-section-10-2:after {
  content: "mobile-single-section-10-2";
}
.show-section .mobile-single-section-10-3:after {
  content: "mobile-single-section-10-3";
}
.show-section .mobile-category-section-10, .show-section .mobile-category-section-10-3, .show-section .mobile-category-section-10-2, .show-section .mobile-category-section-10-1 {
  position: relative;
}
.show-section .mobile-category-section-10:after, .show-section .mobile-category-section-10-3:after, .show-section .mobile-category-section-10-2:after, .show-section .mobile-category-section-10-1:after {
  content: "mobile-category-section-10";
  position: absolute;
  top: -20px;
  left: 0;
  background-color: rgb(255, 255, 255);
  border: 4px solid red;
  color: black;
  z-index: 999999;
}
.show-section .mobile-category-section-10-1:after {
  content: "mobile-category-section-10-1";
}
.show-section .mobile-category-section-10-2:after {
  content: "mobile-category-section-10-2";
}
.show-section .mobile-category-section-10-3:after {
  content: "mobile-category-section-10-3";
}
.show-section .mobile-front-section-10, .show-section .mobile-front-section-10-1, .show-section .mobile-front-section-10-2, .show-section .mobile-front-section-10-3 {
  position: relative;
}
.show-section .mobile-front-section-10:after, .show-section .mobile-front-section-10-1:after, .show-section .mobile-front-section-10-2:after, .show-section .mobile-front-section-10-3:after {
  content: "mobile-front-section-10";
  position: absolute;
  top: -20px;
  left: 0;
  background-color: rgb(255, 255, 255);
  border: 4px solid red;
  color: black;
  z-index: 999999;
}
.show-section .mobile-front-section-10-1:after {
  content: "mobile-front-section-10-1";
}
.show-section .mobile-front-section-10-2:after {
  content: "mobile-front-section-10-2";
}
.show-section .mobile-front-section-10-3:after {
  content: "mobile-front-section-10-3";
}

.korea-sns-shortcode {
  display: flex;
  gap: 8px;
}
.korea-sns-shortcode > .korea-sns-button {
  margin: 0;
}

.modal__overlay {
  z-index: 9999 !important;
}

.hamburger {
  width: 24px;
  margin: auto;
}
.hamburger .menu_icon {
  position: relative;
  width: 24px;
  height: 18px;
}
@media (min-width: 48em) {
  .hamburger {
    width: 36px;
  }
  .hamburger .menu_icon {
    width: 36px;
    height: 24px;
  }
}
.hamburger .border {
  position: absolute;
  left: 0;
  display: inline-block;
  width: 100%;
  height: 4px;
  border-radius: 5px;
  transition: all 0.3s;
  background: black;
}
.hamburger .border1 {
  top: 0;
}
.hamburger .border2 {
  top: 0;
  bottom: 0;
  margin: auto;
}
.hamburger .border3 {
  bottom: 0px;
}
.hamburger .text {
  display: inline-block;
  width: 100%;
  text-align: center;
  font-size: 14px;
  color: #ffffff;
  transition: all 0.3s;
}
.hamburger .text::after {
  display: block;
  content: "MENU";
}
.hamburger.type2 .menu_icon:hover .border1 {
  -webkit-transform: translateY(3px);
          transform: translateY(3px);
}
.hamburger.type2 .menu_icon:hover .border3 {
  -webkit-transform: translateY(-3px);
          transform: translateY(-3px);
}

ul.center-dot-ul > li {
  position: relative;
  padding-left: 12px;
}
ul.center-dot-ul > li:before {
  content: "";
  position: absolute;
  z-index: 1;
  left: 0;
  top: 50%;
  width: 3px;
  height: 3px;
  background-color: rgba(0, 0, 0, 0.35);
  border-radius: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}
ul.center-dot-ul > li:after {
  content: "";
  display: table;
  clear: both;
}

.swiper-pagination-bullets.swiper-pagination-horizontal {
  display: flex;
  -webkit-column-gap: 0px;
     -moz-column-gap: 0px;
          column-gap: 0px;
  align-items: center;
  margin-bottom: 0.5rem;
  justify-content: center;
  margin-top: 0.5rem;
}
.swiper-pagination-bullets.swiper-pagination-horizontal span {
  opacity: 1;
  display: block;
  overflow: hidden;
  width: 12px;
  min-width: 12px;
  height: 12px;
  background: rgba(0, 0, 0, 0.25);
  border-radius: 50%;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
.swiper-pagination-bullets.swiper-pagination-horizontal span.swiper-pagination-bullet-active {
  width: 20px;
  background-color: red;
  border-radius: 2rem;
}

.slider-controller {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  -webkit-column-gap: 12px;
     -moz-column-gap: 12px;
          column-gap: 12px;
  font-size: 20px;
}
.slider-controller button {
  min-width: 24px;
  width: 26px;
  height: 26px;
  padding: 4px;
  background-color: white;
  color: #bbbbbb;
  border: 1px solid #dcdcdc;
  display: flex;
  justify-content: center;
  align-items: center;
}
.slider-controller button:disabled {
  opacity: 0.4;
}
.slider-controller svg {
  margin: 0;
}

.load-more {
  display: block;
  width: 100%;
  vertical-align: middle;
  border: 1px solid transparent;
  line-height: 1;
  text-align: center;
  cursor: pointer;
  background-color: #1779ba;
  padding: 0.75rem 1.063rem;
  font-size: 0.875rem;
  font-weight: 400;
  border-radius: 3px;
  margin: 1.25rem 0;
  color: #686868;
  background-color: #fff;
  border-color: #ced2db;
  transition: color 0.3s, border-color 0.3s;
}
.load-more.loading {
  cursor: not-allowed;
}
.load-more.loading span {
  visibility: hidden;
}
.load-more.loading:after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 20px;
  height: 20px;
  margin-top: -10px;
  margin-left: -10px;
  border: 2px solid red;
  border-top-color: transparent;
  border-radius: 50%;
  -webkit-animation: spinner 0.6s linear infinite;
          animation: spinner 0.6s linear infinite;
}
@-webkit-keyframes spinner {
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
@keyframes spinner {
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

.no-more-posts {
  text-align: center;
  position: relative;
  padding: 0.75rem 1.25rem;
  margin-bottom: 1rem;
  border: 1px solid transparent;
  border-radius: 0.25rem;
  color: #383d41;
  background-color: #e2e3e5;
  border-color: #d6d8db;
}

.title-cover {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background: linear-gradient(to top, rgb(0, 0, 0), rgba(197, 194, 194, 0));
}

.comment-form button[type=submit]:disabled,
.reply-form button[type=submit]:disabled {
  cursor: not-allowed;
  opacity: 0.6;
}

/**************************\
  Basic Modal Styles
\**************************/
.modal {
  font-family: -apple-system, BlinkMacSystemFont, avenir next, avenir, helvetica neue, helvetica, ubuntu, roboto, noto, segoe ui, arial, sans-serif;
}

.modal__overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal__container {
  background-color: #fff;
  padding: 30px;
  max-width: 500px;
  max-height: 100vh;
  border-radius: 4px;
  overflow-y: auto;
  box-sizing: border-box;
}

.modal__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.modal__title {
  margin-top: 0;
  margin-bottom: 0;
  font-weight: 600;
  font-size: 1.25rem;
  line-height: 1.25;
  color: #00449e;
  box-sizing: border-box;
}

.modal__close {
  background: transparent;
  border: 0;
}

.modal__header .modal__close:before {
  content: "✕";
}

.modal__content {
  margin-top: 2rem;
  margin-bottom: 2rem;
  line-height: 1.5;
  color: rgba(0, 0, 0, 0.8);
}

.modal__btn {
  font-size: 0.875rem;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  background-color: #e6e6e6;
  color: rgba(0, 0, 0, 0.8);
  border-radius: 0.25rem;
  border-style: none;
  border-width: 0;
  cursor: pointer;
  -webkit-appearance: button;
  text-transform: none;
  overflow: visible;
  line-height: 1.15;
  margin: 0;
  will-change: transform;
  -moz-osx-font-smoothing: grayscale;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  transition: -webkit-transform 0.25s ease-out;
  transition: transform 0.25s ease-out;
  transition: transform 0.25s ease-out, -webkit-transform 0.25s ease-out;
}

.modal__btn:focus, .modal__btn:hover {
  -webkit-transform: scale(1.05);
  transform: scale(1.05);
}

.modal__btn-primary {
  background-color: #00449e;
  color: #fff;
}

/**************************\
  Demo Animation Style
\**************************/
@-webkit-keyframes mmfadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes mmfadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-webkit-keyframes mmfadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
@keyframes mmfadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
@-webkit-keyframes mmslideIn {
  from {
    -webkit-transform: translateY(15%);
            transform: translateY(15%);
  }
  to {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}
@keyframes mmslideIn {
  from {
    -webkit-transform: translateY(15%);
            transform: translateY(15%);
  }
  to {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}
@-webkit-keyframes mmslideOut {
  from {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  to {
    -webkit-transform: translateY(-10%);
            transform: translateY(-10%);
  }
}
@keyframes mmslideOut {
  from {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  to {
    -webkit-transform: translateY(-10%);
            transform: translateY(-10%);
  }
}
.micromodal-slide {
  display: none;
}

.micromodal-slide.is-open {
  display: block;
}

.micromodal-slide[aria-hidden=false] .modal__overlay {
  -webkit-animation: mmfadeIn 0.3s cubic-bezier(0, 0, 0.2, 1);
          animation: mmfadeIn 0.3s cubic-bezier(0, 0, 0.2, 1);
}

.micromodal-slide[aria-hidden=false] .modal__container {
  -webkit-animation: mmslideIn 0.3s cubic-bezier(0, 0, 0.2, 1);
          animation: mmslideIn 0.3s cubic-bezier(0, 0, 0.2, 1);
}

.micromodal-slide[aria-hidden=true] .modal__overlay {
  -webkit-animation: mmfadeOut 0.3s cubic-bezier(0, 0, 0.2, 1);
          animation: mmfadeOut 0.3s cubic-bezier(0, 0, 0.2, 1);
}

.micromodal-slide[aria-hidden=true] .modal__container {
  -webkit-animation: mmslideOut 0.3s cubic-bezier(0, 0, 0.2, 1);
          animation: mmslideOut 0.3s cubic-bezier(0, 0, 0.2, 1);
}

.micromodal-slide .modal__container,
.micromodal-slide .modal__overlay {
  will-change: transform;
}

.loading-indicator--flash div {
  border-radius: 50%;
  height: 6px;
  width: 6px;
  display: inline-block;
  box-sizing: border-box;
  background: #0ea6fd;
}

.loading-indicator--flash div:nth-of-type(4) {
  -webkit-animation: flash 0.4s 0.1s ease-in-out infinite;
          animation: flash 0.4s 0.1s ease-in-out infinite;
}

.loading-indicator--flash div:nth-of-type(3) {
  -webkit-animation: flash 0.4s linear infinite;
          animation: flash 0.4s linear infinite;
}

.loading-indicator--flash div:nth-of-type(2) {
  -webkit-animation: flash 0.4s -0.1s linear infinite;
          animation: flash 0.4s -0.1s linear infinite;
}

.loading-indicator--flash div:nth-of-type(1) {
  -webkit-animation: flash 0.4s -0.2s linear infinite;
          animation: flash 0.4s -0.2s linear infinite;
}

@-webkit-keyframes flash {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}

@keyframes flash {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}
.emoji-btns::before {
  content: "";
  display: block;
  overflow: hidden;
  width: 50px;
  height: 40px;
  margin-left: auto;
  margin-right: auto;
  background: url(/wp-content/uploads/2023/06/emojis-for.png) no-repeat;
  background-size: 250px auto;
  border-radius: 50%;
}

.emoji-btns.like::before {
  background-position: 0 0;
}

.emoji-btns.impressed::before {
  background-position: -50px 0;
}

.emoji-btns.suprised::before {
  background-position: -100px 0;
}

.emoji-btns.sad::before {
  background-position: -150px 0;
}

.emoji-btns.angry::before {
  background-position: -200px 0;
}

.emoji-btns:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

/*  Desktop - Components
/* --------------------------------------------------- */
.header-primary-menu {
  background-color: #f3f5f4;
  margin-bottom: 10px;
}
.header-primary-menu > ul.menu {
  display: flex;
  overflow-x: scroll;
  white-space: nowrap;
  background-color: white;
  border-bottom: 2px solid rgb(212, 212, 212);
  -webkit-column-gap: 20px;
     -moz-column-gap: 20px;
          column-gap: 20px;
  line-height: 40px;
}
@media (min-width: 40em) {
  .header-primary-menu > ul.menu {
    justify-content: center;
    -webkit-column-gap: 20px;
       -moz-column-gap: 20px;
            column-gap: 20px;
    line-height: 40px;
  }
}

.category .pagination-container {
  margin-top: 40px;
  display: flex;
  -webkit-column-gap: 10px;
     -moz-column-gap: 10px;
          column-gap: 10px;
  justify-content: center;
}
.category .pagination-container > a,
.category .pagination-container span {
  padding: 0.438rem 0.625rem;
  line-height: 1;
  background: #fff;
  border: 1px solid rgba(0, 0, 0, 0.08);
  border-radius: 3px;
  text-align: center;
}
.category .pagination-container span {
  background-color: #f11d29;
  color: white;
}

/*  Desktop - Layout
/* --------------------------------------------------- */
#header {
  background-color: #f3f5f4;
}
#header .site-logo {
  max-width: 240px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
#header .social-icons ul {
  display: flex;
  -webkit-column-gap: 4px;
     -moz-column-gap: 4px;
          column-gap: 4px;
}
#header .social-icons ul li {
  max-width: 32px;
}

#main-nav {
  position: relative;
  margin: 0 auto;
  text-align: center;
  z-index: 20;
  background-color: #f3f5f4;
  margin-bottom: 10px;
}
#main-nav > .wrap, .header-primary-menu#main-nav > ul.menu {
  box-shadow: inset 0 -2px 0 rgba(0, 0, 0, 0.06);
  background-color: white;
}
#main-nav ul.primary-menu {
  position: relative;
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  justify-content: center;
  width: 100%;
  z-index: 9;
  font-size: 0;
}
#main-nav li {
  position: static;
  display: inline-block;
  margin: 0;
  font-size: 13px;
}
#main-nav a {
  display: block;
  padding: 12px 16px 10px;
  margin: 0;
  color: black;
  font-size: 14px;
  line-height: 1.714285714;
  text-decoration: none;
  white-space: nowrap;
  border-bottom: 2px solid transparent;
  transition: 0.2s;
}
#main-nav li.menu-item-has-children {
  padding: 12px 10px 10px 16px;
}
#main-nav li.current-menu-ancestor > a {
  border-bottom-color: #f44336;
  color: inherit;
}
#main-nav ul.nav-menu > li:hover > a {
  color: inherit;
  border-bottom-color: #c2c2c2;
}
#main-nav li ul {
  position: absolute;
  display: none;
  width: 220px;
  margin: 0;
  padding: 8px 0;
  list-style: none;
  top: 100%;
  background: #fff;
  text-align: left;
  z-index: 10;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
}
#main-nav li li {
  width: 100%;
  border: none;
}
#main-nav li ul li a {
  float: none;
  display: block;
  margin: 0;
  padding: 6px 16px;
  color: #757575;
  white-space: nowrap;
  letter-spacing: normal;
  text-transform: none;
  transition: none;
}
#main-nav li ul li a:hover {
  color: #212121;
  background: #eee;
}
#main-nav .search-trigger {
  color: inherit;
  position: absolute;
  width: 36px;
  height: 36px;
  right: 0;
  top: 6px;
  opacity: 0.87;
  z-index: 999;
}
#main-nav .search-trigger:before {
  display: inline-block;
  font-family: "icomoon" !important;
  font-weight: normal;
  font-style: normal;
  font-size: 14px;
  line-height: 36px;
  height: 36px;
  width: 36px;
  text-transform: none;
  text-align: center;
  vertical-align: middle;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-feature-settings: "liga";
          font-feature-settings: "liga";
  content: "\f002";
}
#main-nav .search-trigger.search-btn-active:before {
  font-size: 18px;
  content: "\e5cd";
  color: #757575;
}
#main-nav .search-form {
  margin-bottom: 18px;
  position: absolute;
  right: 0;
  top: 6px;
  opacity: 0;
  transition: 0.3s;
}
#main-nav .search-form:before {
  position: absolute;
  top: 6px;
  left: 12px;
  color: #9e9e9e;
  font-family: Fontawesome;
  font-weight: normal;
  font-style: normal;
  font-size: 14px;
  display: inline-block;
  height: 24px;
  line-height: 1;
  line-height: 24px;
  text-transform: none;
  text-align: center;
  vertical-align: middle;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-feature-settings: "liga";
          font-feature-settings: "liga";
  content: "\f002";
}
#main-nav .search-form .search-submit {
  visibility: hidden;
  display: none;
}
#main-nav .search-form .search-field {
  padding-left: 32px;
  color: #757575;
  border-color: rgba(0, 0, 0, 0.12);
}
@media only screen and (min-width: 840px) {
  #main-nav .search-form .search-field {
    width: 240px;
  }
}
#main-nav .search-form.search-active {
  opacity: 1;
  z-index: 10;
}

.site-footer {
  background-color: #f1f3f4;
}

/*  Desktop - Pages
/* --------------------------------------------------- */
.home .desktop-front-group-3-slider {
  overflow: hidden;
}
.home .article-group-slider {
  width: 100%;
}

.single .desktop-single .font-size::before {
  content: "";
  display: block;
  width: 18px;
  height: 18px;
  background-position: 50%;
  background-repeat: no-repeat;
}
.single .desktop-single .font-size.up::before {
  background-image: url(https://cdn.salgoonews.com/image/font-size-up.svg);
}
.single .desktop-single .font-size.down::before {
  background-image: url(https://cdn.salgoonews.com/image/font-size-down.svg);
}
.single .desktop-single .two-line {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  height: 40px;
  overflow: hidden;
  text-overflow: ellipsis;
}
.single .desktop-single .content p {
  font-weight: 300;
  color: #000;
  text-align: inherit;
  word-break: normal;
  word-wrap: break-word;
  font-size: 20px;
  line-height: 1.8;
  letter-spacing: -0.2px;
  margin: 0px 0px 25px;
}
.single .desktop-single .desktop-single-section-2 .korea-sns-shortcode, .single .desktop-single .show-section .desktop-single-section-2-1 .korea-sns-shortcode, .show-section .single .desktop-single .desktop-single-section-2-1 .korea-sns-shortcode, .single .desktop-single .show-section .desktop-single-section-2-2 .korea-sns-shortcode, .show-section .single .desktop-single .desktop-single-section-2-2 .korea-sns-shortcode, .single .desktop-single .show-section .desktop-single-section-2-3 .korea-sns-shortcode, .show-section .single .desktop-single .desktop-single-section-2-3 .korea-sns-shortcode {
  justify-content: flex-end;
}

/*  Mobile - Components
/* --------------------------------------------------- */
@media (max-width: 47.99em) {
  .divider {
    height: 8px;
    background-color: #eeeeee;
    box-shadow: 0px 0px 1px 1px rgba(238, 238, 238, 0.6);
  }
}
@media (max-width: 47.99em) and (min-width: 48em) {
  .divider {
    display: none;
  }
}
@media (max-width: 47.99em) {
  .mobile-category-article-list > li:last-child {
    border-bottom: none;
    padding-bottom: 0;
    margin-bottom: 30px;
  }
}
/*  Mobile - Layout
/* --------------------------------------------------- */
/*  Mobile - Pages
/* --------------------------------------------------- */
.mobile-front-page .mobile-front-section-1 .swiper-pagination-bullets.swiper-pagination-horizontal, .mobile-front-page .show-section .mobile-front-section-1-1 .swiper-pagination-bullets.swiper-pagination-horizontal, .show-section .mobile-front-page .mobile-front-section-1-1 .swiper-pagination-bullets.swiper-pagination-horizontal, .mobile-front-page .show-section .mobile-front-section-1-2 .swiper-pagination-bullets.swiper-pagination-horizontal, .show-section .mobile-front-page .mobile-front-section-1-2 .swiper-pagination-bullets.swiper-pagination-horizontal, .mobile-front-page .show-section .mobile-front-section-1-3 .swiper-pagination-bullets.swiper-pagination-horizontal, .show-section .mobile-front-page .mobile-front-section-1-3 .swiper-pagination-bullets.swiper-pagination-horizontal {
  justify-content: flex-end;
}
.mobile-front-page .mobile-front-section-2 .swiper-pagination-bullets.swiper-pagination-horizontal span:not(.swiper-pagination-bullet-active), .mobile-front-page .show-section .mobile-front-section-2-1 .swiper-pagination-bullets.swiper-pagination-horizontal span:not(.swiper-pagination-bullet-active), .show-section .mobile-front-page .mobile-front-section-2-1 .swiper-pagination-bullets.swiper-pagination-horizontal span:not(.swiper-pagination-bullet-active), .mobile-front-page .show-section .mobile-front-section-2-2 .swiper-pagination-bullets.swiper-pagination-horizontal span:not(.swiper-pagination-bullet-active), .show-section .mobile-front-page .mobile-front-section-2-2 .swiper-pagination-bullets.swiper-pagination-horizontal span:not(.swiper-pagination-bullet-active), .mobile-front-page .show-section .mobile-front-section-2-3 .swiper-pagination-bullets.swiper-pagination-horizontal span:not(.swiper-pagination-bullet-active), .show-section .mobile-front-page .mobile-front-section-2-3 .swiper-pagination-bullets.swiper-pagination-horizontal span:not(.swiper-pagination-bullet-active) {
  background-color: #cbcbcb;
}

.single .mobile-single .font-size::before {
  content: "";
  display: block;
  width: 18px;
  height: 18px;
  background-position: 50%;
  background-repeat: no-repeat;
}
.single .mobile-single .font-size.up::before {
  background-image: url(https://cdn.salgoonews.com/image/font-size-up.svg);
}
.single .mobile-single .font-size.down::before {
  background-image: url(https://cdn.salgoonews.com/image/font-size-down.svg);
}
.single .mobile-single .two-line {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  height: 40px;
  overflow: hidden;
  text-overflow: ellipsis;
}
.single .mobile-single .content p {
  font-weight: 300;
  color: #000;
  text-align: inherit;
  word-break: normal;
  word-wrap: break-word;
  font-size: 18px;
  line-height: 1.72;
  letter-spacing: -0.4px;
  margin: 0px 0px 24px;
}

/*# sourceMappingURL=style.css.map */