/*! CSS Used from: https://radiustheme.com/demo/wordpress/themes/neeon/wp-content/cache/asset-cleanup/css/head-5d53bb27da2c3d891b48626fea4f205b3319b9ce.css ; media=all */
@media all {
  .far {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    line-height: 1;
  }
  .fa-calendar-alt:before {
    content: "\f073";
  }
  .fa-comments:before {
    content: "\f086";
  }
  .far {
    font-weight: 400;
  }
  .far {
    font-family: "Font Awesome 5 Free";
  }
  .far {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    line-height: 1;
  }
  .fa-calendar-alt:before {
    content: "\f073";
  }
  .fa-comments:before {
    content: "\f086";
  }
  .far {
    font-weight: 400;
  }
  .far {
    font-family: "Font Awesome 5 Free";
  }
  ul {
    box-sizing: border-box;
  }
  .elementor *,
  .elementor :after,
  .elementor :before {
    box-sizing: border-box;
  }
  .elementor a {
    box-shadow: none;
    text-decoration: none;
  }
  .elementor img {
    height: auto;
    max-width: 100%;
    border: none;
    border-radius: 0;
    box-shadow: none;
  }
  .elementor-1802
    .elementor-element.elementor-element-37186c8
    .rt-post-overlay-default
    .rt-item
    .single-title {
    font-size: 36px;
  }
  @media (max-width: 1024px) {
    .elementor-1802
      .elementor-element.elementor-element-37186c8
      .rt-post-overlay-default
      .rt-item
      .single-title {
      font-size: 32px;
    }
  }
  @media (max-width: 767px) {
    .elementor-1802
      .elementor-element.elementor-element-37186c8
      .rt-post-overlay-default
      .rt-item
      .single-title {
      font-size: 24px;
    }
  }
  *,
  ::after,
  ::before {
    box-sizing: border-box;
  }
  h3 {
    margin-top: 0;
    margin-bottom: 0.5rem;
    font-weight: 500;
    line-height: 1.2;
  }
  h3 {
    font-size: calc(1.3rem + 0.6vw);
  }
  @media (min-width: 1200px) {
    h3 {
      font-size: 1.75rem;
    }
  }
  ul {
    padding-left: 2rem;
  }
  ul {
    margin-top: 0;
    margin-bottom: 1rem;
  }
  a {
    color: #0d6efd;
    text-decoration: underline;
  }
  a:hover {
    color: #0a58ca;
  }
  img {
    vertical-align: middle;
  }
  .fadeInUp {
    -webkit-animation-name: fadeInUp;
    animation-name: fadeInUp;
  }
  .rt-post-overlay-default .rt-item {
    position: relative;
  }
  .rt-post-overlay-default .rt-item .entry-title {
    font-size: 20px;
    line-height: 1.4;
    margin-bottom: 10px;
  }
  .rt-post-overlay-default ul.entry-meta {
    list-style: none;
    margin-bottom: 0;
    margin-left: 0;
    margin-top: 5px;
    padding-left: 0;
  }
  .rt-post-overlay-default ul.entry-meta li {
    display: inline-block;
    color: #d0d0d0;
    font-size: 12px;
    font-weight: 500;
    letter-spacing: 0.8px;
    text-transform: uppercase;
    line-height: 1.2;
    margin-right: 12px;
  }
  .rt-post-overlay-default ul.entry-meta li a {
    color: #d0d0d0;
  }
  .rt-post-overlay-default ul.entry-meta li:last-child {
    margin-right: 0;
  }
  .rt-post-overlay-default ul.entry-meta li i {
    margin-right: 6px;
  }
  .rt-post-overlay-default ul.entry-meta li a:hover {
    color: #2962ff !important;
  }
  .rt-post-overlay-default .rt-item .rt-image {
    position: relative;
    overflow: hidden;
    border-radius: 4px;
  }
  .rt-post-overlay-default .rt-item .rt-image img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
    -webkit-transform: scale(1.02);
    transform: scale(1.02);
    transition: all 0.5s ease;
  }
  .rt-post-overlay-default .rt-item:hover .rt-image img {
    -webkit-transform: scale3d(1.1, 1.1, 1);
    transform: scale3d(1.1, 1.1, 1);
  }
  .rt-post-overlay-default .rt-item .post-terms {
    margin-bottom: 14px;
    line-height: 1.2;
  }
  .rt-post-overlay-default .rt-item .post-terms a {
    display: inline-block;
    color: #a5a6aa;
    font-size: 12px;
    font-weight: 500;
    letter-spacing: 0.8px;
    text-transform: uppercase;
    line-height: 1;
  }
  .rt-post-overlay-default .rt-item .post-terms a:hover {
    color: #2962ff;
  }
  .rt-post-overlay-default .rt-item .post-author a {
    color: #fff;
  }
  .rt-post-overlay-default .rt-item .post-terms .category-style {
    display: inline-block;
    background-color: #2962ff;
    border-radius: 2px;
    color: #fff;
    padding: 6px 9px 5px;
  }
  .rt-post-overlay-default .rt-item .rt-image + .entry-content {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    z-index: 2;
    transition: all 0.5s ease;
    padding: 25px;
  }
  .rt-post-overlay-default .rt-item-wrap .rt-item .entry-content {
    padding: 50px;
  }
  @media (max-width: 767px) {
    .rt-post-overlay-default .rt-item-wrap .rt-item .entry-content {
      padding: 25px;
    }
  }
  .rt-post-overlay-default .rt-item .rt-image > a:first-of-type::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0) 0%,
      rgba(0, 0, 0, 0.2) 59%,
      rgba(0, 0, 0, 0.8) 100%
    );
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
  }
  .rt-post-overlay-style6 .rt-item-wrap,
  .rt-post-overlay-style6 .rt-item-wrap .rt-item,
  .rt-post-overlay-style6 .rt-item-wrap .rt-item .rt-image {
    height: 100%;
  }
  @media (max-width: 767px) {
    .rt-post-overlay-style6 .rt-item-wrap .rt-item .rt-image img {
      height: 350px;
    }
  }
  a {
    color: #2962ff;
    text-decoration: none;
  }
  a:focus {
    outline: 0 solid;
    text-decoration: none;
    outline: 0 none;
  }
  a:active {
    text-decoration: none;
    outline: 0 none;
  }
  a:hover {
    color: #000;
    text-decoration: none;
    outline: 0 none;
  }
  img {
    max-width: 100%;
    height: auto;
  }
  h3 {
    font-family: "Spartan", sans-serif;
    margin: 0 0 20px 0;
    color: #000;
  }
  h3 {
    font-size: 22.63px;
    font-weight: 700;
    line-height: 33px;
  }
  ul {
    list-style: disc inside none;
    margin: 0 0 20px 0;
  }
  * {
    -ms-word-wrap: break-word;
    word-wrap: break-word;
  }
  .title-animation-white-bold a {
    color: #fff;
    display: inline;
    padding-bottom: 0;
    background-image: linear-gradient(to bottom, #ffffff 0%, #ffffff 98%);
    background-size: 0 2px;
    background-repeat: no-repeat;
    background-position: left 100%;
    transition: all 0.7s;
  }
  .title-animation-white-bold a:hover {
    background-size: 100% 2px;
  }
}
/*! CSS Used from: Embedded ; media=all */
@media all {
  a {
    background-color: transparent;
  }
  a:active,
  a:hover {
    outline: 0;
  }
  img {
    border: 0;
  }
  *,
  *:before,
  *:after {
    box-sizing: inherit;
  }
  ul {
    margin: 0 0 1em 1em;
    padding-left: 20px;
  }
  ul {
    list-style: disc;
  }
  img {
    height: auto;
    max-width: 100%;
  }
  a:link,
  a:visited {
    transition: all ease 0.31s;
    text-decoration: none;
  }
  a:hover,
  a:focus,
  a:active {
    text-decoration: none;
  }
  a:focus {
    outline: thin dotted;
  }
  a:hover,
  a:active {
    outline: 0;
  }
  .entry-content:before,
  .entry-content:after {
    content: "";
    display: table;
    table-layout: fixed;
  }
  .entry-content:after {
    clear: both;
  }
}
/*! CSS Used from: Embedded */
a {
  color: #2962ff;
}
h3 {
  font-family: "Spartan", sans-serif;
  font-weight: 700;
}
h3 {
  font-size: 22.63px;
  line-height: 33px;
  font-style: normal;
}
.rt-post-overlay-default .rt-item .post-terms a:hover {
  color: #2962ff;
}
.rt-post-overlay-default ul.entry-meta li a:hover {
  color: #2962ff !important;
}
/*! CSS Used from: https://radiustheme.com/demo/wordpress/themes/neeon/wp-content/cache/wpo-minify/1683681959/assets/wpo-minify-header-5e1d2b09.min.css ; media=all */
@media all {
  ul {
    box-sizing: border-box;
  }
  .elementor *,
  .elementor :after,
  .elementor :before {
    box-sizing: border-box;
  }
  .elementor a {
    box-shadow: none;
    text-decoration: none;
  }
  .elementor img {
    height: auto;
    max-width: 100%;
    border: none;
    border-radius: 0;
    box-shadow: none;
  }
  .elementor-1802
    .elementor-element.elementor-element-37186c8
    .rt-post-overlay-default
    .rt-item
    .single-title {
    font-size: 36px;
  }
  @media (max-width: 1024px) {
    .elementor-1802
      .elementor-element.elementor-element-37186c8
      .rt-post-overlay-default
      .rt-item
      .single-title {
      font-size: 32px;
    }
  }
  @media (max-width: 767px) {
    .elementor-1802
      .elementor-element.elementor-element-37186c8
      .rt-post-overlay-default
      .rt-item
      .single-title {
      font-size: 24px;
    }
  }
  *,
  ::after,
  ::before {
    box-sizing: border-box;
  }
  h3 {
    margin-top: 0;
    margin-bottom: 0.5rem;
    font-weight: 500;
    line-height: 1.2;
  }
  h3 {
    font-size: calc(1.3rem + 0.6vw);
  }
  @media (min-width: 1200px) {
    h3 {
      font-size: 1.75rem;
    }
  }
  ul {
    padding-left: 2rem;
  }
  ul {
    margin-top: 0;
    margin-bottom: 1rem;
  }
  a {
    color: #0d6efd;
    text-decoration: underline;
  }
  a:hover {
    color: #0a58ca;
  }
  img {
    vertical-align: middle;
  }
  .fadeInUp {
    -webkit-animation-name: fadeInUp;
    animation-name: fadeInUp;
  }
  .rt-post-overlay-default .rt-item {
    position: relative;
  }
  .rt-post-overlay-default .rt-item .entry-title {
    font-size: 20px;
    line-height: 1.4;
    margin-bottom: 10px;
  }
  .rt-post-overlay-default ul.entry-meta {
    list-style: none;
    margin-bottom: 0;
    margin-left: 0;
    margin-top: 5px;
    padding-left: 0;
  }
  .rt-post-overlay-default ul.entry-meta li {
    display: inline-block;
    color: #d0d0d0;
    font-size: 12px;
    font-weight: 500;
    letter-spacing: 0.8px;
    text-transform: uppercase;
    line-height: 1.2;
    margin-right: 12px;
  }
  .rt-post-overlay-default ul.entry-meta li a {
    color: #d0d0d0;
  }
  .rt-post-overlay-default ul.entry-meta li:last-child {
    margin-right: 0;
  }
  .rt-post-overlay-default ul.entry-meta li i {
    margin-right: 6px;
  }
  .rt-post-overlay-default ul.entry-meta li a:hover {
    color: #2962ff !important;
  }
  .rt-post-overlay-default .rt-item .rt-image {
    position: relative;
    overflow: hidden;
    border-radius: 4px;
  }
  .rt-post-overlay-default .rt-item .rt-image img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
    -webkit-transform: scale(1.02);
    transform: scale(1.02);
    transition: all 0.5s ease;
  }
  .rt-post-overlay-default .rt-item:hover .rt-image img {
    -webkit-transform: scale3d(1.1, 1.1, 1);
    transform: scale3d(1.1, 1.1, 1);
  }
  .rt-post-overlay-default .rt-item .post-terms {
    margin-bottom: 14px;
    line-height: 1.2;
  }
  .rt-post-overlay-default .rt-item .post-terms a {
    display: inline-block;
    color: #a5a6aa;
    font-size: 12px;
    font-weight: 500;
    letter-spacing: 0.8px;
    text-transform: uppercase;
    line-height: 1;
  }
  .rt-post-overlay-default .rt-item .post-terms a:hover {
    color: #2962ff;
  }
  .rt-post-overlay-default .rt-item .post-author a {
    color: #fff;
  }
  .rt-post-overlay-default .rt-item .post-terms .category-style {
    display: inline-block;
    background-color: #2962ff;
    border-radius: 2px;
    color: #fff;
    padding: 6px 9px 5px;
  }
  .rt-post-overlay-default .rt-item .rt-image + .entry-content {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    z-index: 2;
    transition: all 0.5s ease;
    padding: 25px;
  }
  .rt-post-overlay-default .rt-item-wrap .rt-item .entry-content {
    padding: 50px;
  }
  @media (max-width: 767px) {
    .rt-post-overlay-default .rt-item-wrap .rt-item .entry-content {
      padding: 25px;
    }
  }
  .rt-post-overlay-default .rt-item .rt-image > a:first-of-type::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0) 0%,
      rgba(0, 0, 0, 0.2) 59%,
      rgba(0, 0, 0, 0.8) 100%
    );
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
  }
  .rt-post-overlay-style6 .rt-item-wrap,
  .rt-post-overlay-style6 .rt-item-wrap .rt-item,
  .rt-post-overlay-style6 .rt-item-wrap .rt-item .rt-image {
    height: 100%;
  }
  @media (max-width: 767px) {
    .rt-post-overlay-style6 .rt-item-wrap .rt-item .rt-image img {
      height: 350px;
    }
  }
  a {
    color: #2962ff;
    text-decoration: none;
  }
  a:focus {
    outline: 0 solid;
    text-decoration: none;
    outline: 0 none;
  }
  a:active {
    text-decoration: none;
    outline: 0 none;
  }
  a:hover {
    color: #000;
    text-decoration: none;
    outline: 0 none;
  }
  img {
    max-width: 100%;
    height: auto;
  }
  h3 {
    font-family: "Spartan", sans-serif;
    margin: 0 0 20px 0;
    color: #000;
  }
  h3 {
    font-size: 22.63px;
    font-weight: 700;
    line-height: 33px;
  }
  ul {
    list-style: disc inside none;
    margin: 0 0 20px 0;
  }
  * {
    -ms-word-wrap: break-word;
    word-wrap: break-word;
  }
  .title-animation-white-bold a {
    color: #fff;
    display: inline;
    padding-bottom: 0;
    background-image: linear-gradient(to bottom, #ffffff 0%, #ffffff 98%);
    background-size: 0 2px;
    background-repeat: no-repeat;
    background-position: left 100%;
    transition: all 0.7s;
  }
  .title-animation-white-bold a:hover {
    background-size: 100% 2px;
  }
}
/*! CSS Used keyframes */
@-webkit-keyframes fadeInUp {
  0% {
    opacity: 0;
    -webkit-transform: translateY(30px);
    transform: translateY(30px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}
@keyframes fadeInUp {
  0% {
    opacity: 0;
    -webkit-transform: translateY(30px);
    transform: translateY(30px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}
@-webkit-keyframes fadeInUp {
  0% {
    opacity: 0;
    -webkit-transform: translateY(30px);
    transform: translateY(30px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}
@keyframes fadeInUp {
  0% {
    opacity: 0;
    -webkit-transform: translateY(30px);
    transform: translateY(30px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}
/*! CSS Used fontfaces */
@font-face {
  font-family: "Font Awesome 5 Free";
  font-style: normal;
  font-weight: 400;
  font-display: block;
  src: url(https://radiustheme.com/demo/wordpress/themes/neeon/wp-content/plugins/elementor/assets/lib/font-awesome/webfonts/fa-regular-400.eot);
  src: url(https://radiustheme.com/demo/wordpress/themes/neeon/wp-content/plugins/elementor/assets/lib/font-awesome/webfonts/fa-regular-400.eot?#iefix)
      format("embedded-opentype"),
    url(https://radiustheme.com/demo/wordpress/themes/neeon/wp-content/plugins/elementor/assets/lib/font-awesome/webfonts/fa-regular-400.woff2)
      format("woff2"),
    url(https://radiustheme.com/demo/wordpress/themes/neeon/wp-content/plugins/elementor/assets/lib/font-awesome/webfonts/fa-regular-400.woff)
      format("woff"),
    url(https://radiustheme.com/demo/wordpress/themes/neeon/wp-content/plugins/elementor/assets/lib/font-awesome/webfonts/fa-regular-400.ttf)
      format("truetype"),
    url(https://radiustheme.com/demo/wordpress/themes/neeon/wp-content/plugins/elementor/assets/lib/font-awesome/webfonts/fa-regular-400.svg#fontawesome)
      format("svg");
}
@font-face {
  font-family: "Font Awesome 5 Free";
  font-style: normal;
  font-weight: 900;
  font-display: block;
  src: url(https://radiustheme.com/demo/wordpress/themes/neeon/wp-content/plugins/elementor/assets/lib/font-awesome/webfonts/fa-solid-900.eot);
  src: url(https://radiustheme.com/demo/wordpress/themes/neeon/wp-content/plugins/elementor/assets/lib/font-awesome/webfonts/fa-solid-900.eot?#iefix)
      format("embedded-opentype"),
    url(https://radiustheme.com/demo/wordpress/themes/neeon/wp-content/plugins/elementor/assets/lib/font-awesome/webfonts/fa-solid-900.woff2)
      format("woff2"),
    url(https://radiustheme.com/demo/wordpress/themes/neeon/wp-content/plugins/elementor/assets/lib/font-awesome/webfonts/fa-solid-900.woff)
      format("woff"),
    url(https://radiustheme.com/demo/wordpress/themes/neeon/wp-content/plugins/elementor/assets/lib/font-awesome/webfonts/fa-solid-900.ttf)
      format("truetype"),
    url(https://radiustheme.com/demo/wordpress/themes/neeon/wp-content/plugins/elementor/assets/lib/font-awesome/webfonts/fa-solid-900.svg#fontawesome)
      format("svg");
}
@font-face {
  font-family: "Font Awesome 5 Free";
  font-style: normal;
  font-weight: 400;
  font-display: block;
  src: url(https://radiustheme.com/demo/wordpress/themes/neeon/wp-content/themes/neeon/assets/webfonts/fa-regular-400.eot);
  src: url(https://radiustheme.com/demo/wordpress/themes/neeon/wp-content/themes/neeon/assets/webfonts/fa-regular-400.eot?#iefix)
      format("embedded-opentype"),
    url(https://radiustheme.com/demo/wordpress/themes/neeon/wp-content/themes/neeon/assets/webfonts/fa-regular-400.woff2)
      format("woff2"),
    url(https://radiustheme.com/demo/wordpress/themes/neeon/wp-content/themes/neeon/assets/webfonts/fa-regular-400.woff)
      format("woff"),
    url(https://radiustheme.com/demo/wordpress/themes/neeon/wp-content/themes/neeon/assets/webfonts/fa-regular-400.ttf)
      format("truetype"),
    url(https://radiustheme.com/demo/wordpress/themes/neeon/wp-content/themes/neeon/assets/webfonts/fa-regular-400.svg#fontawesome)
      format("svg");
}
@font-face {
  font-family: "Font Awesome 5 Free";
  font-style: normal;
  font-weight: 900;
  font-display: block;
  src: url(https://radiustheme.com/demo/wordpress/themes/neeon/wp-content/themes/neeon/assets/webfonts/fa-solid-900.eot);
  src: url(https://radiustheme.com/demo/wordpress/themes/neeon/wp-content/themes/neeon/assets/webfonts/fa-solid-900.eot?#iefix)
      format("embedded-opentype"),
    url(https://radiustheme.com/demo/wordpress/themes/neeon/wp-content/themes/neeon/assets/webfonts/fa-solid-900.woff2)
      format("woff2"),
    url(https://radiustheme.com/demo/wordpress/themes/neeon/wp-content/themes/neeon/assets/webfonts/fa-solid-900.woff)
      format("woff"),
    url(https://radiustheme.com/demo/wordpress/themes/neeon/wp-content/themes/neeon/assets/webfonts/fa-solid-900.ttf)
      format("truetype"),
    url(https://radiustheme.com/demo/wordpress/themes/neeon/wp-content/themes/neeon/assets/webfonts/fa-solid-900.svg#fontawesome)
      format("svg");
}
@font-face {
  font-family: "Spartan";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/spartan/v18/l7gfbjR61M69yt8Z2QytlAXJExtwBw.woff2)
    format("woff2");
  unicode-range: U+0100-02AF, U+0304, U+0308, U+0329, U+1E00-1E9F, U+1EF2-1EFF,
    U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
@font-face {
  font-family: "Spartan";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/spartan/v18/l7gfbjR61M69yt8Z2QKtlAXJExs.woff2)
    format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191,
    U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
@font-face {
  font-family: "Spartan";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/spartan/v18/l7gfbjR61M69yt8Z2QytlAXJExtwBw.woff2)
    format("woff2");
  unicode-range: U+0100-02AF, U+0304, U+0308, U+0329, U+1E00-1E9F, U+1EF2-1EFF,
    U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
@font-face {
  font-family: "Spartan";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/spartan/v18/l7gfbjR61M69yt8Z2QKtlAXJExs.woff2)
    format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191,
    U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
@font-face {
  font-family: "Spartan";
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/spartan/v18/l7gfbjR61M69yt8Z2QytlAXJExtwBw.woff2)
    format("woff2");
  unicode-range: U+0100-02AF, U+0304, U+0308, U+0329, U+1E00-1E9F, U+1EF2-1EFF,
    U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
@font-face {
  font-family: "Spartan";
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/spartan/v18/l7gfbjR61M69yt8Z2QKtlAXJExs.woff2)
    format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191,
    U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
@font-face {
  font-family: "Spartan";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/spartan/v18/l7gfbjR61M69yt8Z2QytlAXJExtwBw.woff2)
    format("woff2");
  unicode-range: U+0100-02AF, U+0304, U+0308, U+0329, U+1E00-1E9F, U+1EF2-1EFF,
    U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
@font-face {
  font-family: "Spartan";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/spartan/v18/l7gfbjR61M69yt8Z2QKtlAXJExs.woff2)
    format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191,
    U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
@font-face {
  font-family: "Spartan";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/spartan/v18/l7gfbjR61M69yt8Z2QytlAXJExtwBw.woff2)
    format("woff2");
  unicode-range: U+0100-02AF, U+0304, U+0308, U+0329, U+1E00-1E9F, U+1EF2-1EFF,
    U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
@font-face {
  font-family: "Spartan";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/spartan/v18/l7gfbjR61M69yt8Z2QKtlAXJExs.woff2)
    format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191,
    U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
@font-face {
  font-family: "Spartan";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/spartan/v18/l7gfbjR61M69yt8Z2QytlAXJExtwBw.woff2)
    format("woff2");
  unicode-range: U+0100-02AF, U+0304, U+0308, U+0329, U+1E00-1E9F, U+1EF2-1EFF,
    U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
@font-face {
  font-family: "Spartan";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/spartan/v18/l7gfbjR61M69yt8Z2QKtlAXJExs.woff2)
    format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191,
    U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
@font-face {
  font-family: "Spartan";
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/spartan/v18/l7gfbjR61M69yt8Z2QytlAXJExtwBw.woff2)
    format("woff2");
  unicode-range: U+0100-02AF, U+0304, U+0308, U+0329, U+1E00-1E9F, U+1EF2-1EFF,
    U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
@font-face {
  font-family: "Spartan";
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/spartan/v18/l7gfbjR61M69yt8Z2QKtlAXJExs.woff2)
    format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191,
    U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
@font-face {
  font-family: "Spartan";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/spartan/v18/l7gfbjR61M69yt8Z2QytlAXJExtwBw.woff2)
    format("woff2");
  unicode-range: U+0100-02AF, U+0304, U+0308, U+0329, U+1E00-1E9F, U+1EF2-1EFF,
    U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
@font-face {
  font-family: "Spartan";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/spartan/v18/l7gfbjR61M69yt8Z2QKtlAXJExs.woff2)
    format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191,
    U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
