.mobile-front-page {
  .mobile-front-section-1 {
    .swiper-pagination-bullets.swiper-pagination-horizontal {
      justify-content: flex-end;
    }
  }
  .mobile-front-section-2 {
    .swiper-pagination-bullets.swiper-pagination-horizontal {
      span:not(.swiper-pagination-bullet-active) {
        background-color: #cbcbcb;
      }
    }
  }
}
