.single .desktop-single {
  .font-size::before {
    content: "";
    display: block;
    width: 18px;
    height: 18px;
    background-position: 50%;
    background-repeat: no-repeat;
  }

  .font-size.up::before {
    background-image: url(https://cdn.salgoonews.com/image/font-size-up.svg);
  }

  .font-size.down::before {
    background-image: url(https://cdn.salgoonews.com/image/font-size-down.svg);
  }

  .two-line {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    height: 40px;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .content {
    p {
      font-weight: 300;
      color: #000;
      text-align: inherit;
      word-break: normal;
      word-wrap: break-word;

      font-size: 20px;
      line-height: 1.8;
      letter-spacing: -0.2px;

      margin: 0px 0px 25px;
    }
  }

  .desktop-single-section-2 {
    .korea-sns-shortcode {
      justify-content: flex-end;
    }
  }
}
