@include mq($until: md) {
  .swiper-pagination-bullets.swiper-pagination-horizontal {
    display: flex;
    column-gap: 0px;
    align-items: center;
    margin-bottom: 0.5rem;
    justify-content: center;
    margin-top: 0.5rem;

    span {
      opacity: 1;
      display: block;
      overflow: hidden;
      width: 12px;
      min-width: 12px;
      height: 12px;
      background: white;
      border-radius: 50%;
      cursor: pointer;

      transition: all 0.3s ease-in-out;

      &.swiper-pagination-bullet-active {
        width: 20px;
        background-color: red;
        border-radius: 2rem;
      }
    }
  }
}
