.header-primary-menu {
  background-color: #f3f5f4;
  margin-bottom: 10px;

  & > ul.menu {
    @extend .wrap;

    // mobile
    display: flex;
    overflow-x: scroll;
    white-space: nowrap;
    background-color: white;
    border-bottom: 2px solid rgb(212, 212, 212);
    column-gap: 20px;
    line-height: 40px;

    // sm
    // md
    // lg
    // xl
    // 2xl

    // tablet
    @include mq($from: sm) {
      justify-content: center;
      column-gap: 20px;
      line-height: 40px;
    }
  }
}
