@mixin multiline-ellipsis($line-height, $line-count: 2) {
  line-height: $line-height;
  max-height: $line-height * $line-count;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: $line-count;
  -webkit-box-orient: vertical;
}
