ul.center-dot-ul {
  & > li {
    position: relative;
    padding-left: 12px;

    &:before {
      content: "";
      position: absolute;
      z-index: 1;
      left: 0;
      top: 50%;
      width: 3px;
      height: 3px;
      background-color: rgba(0, 0, 0, 0.35);
      border-radius: 50%;
      -ms-transform: translateY(-50%);
      transform: translateY(-50%);
    }
    &:after {
      content: "";
      display: table;
      clear: both;
    }
  }
}
