.no-more-posts {
  text-align: center;
  position: relative;
  padding: 0.75rem 1.25rem;
  margin-bottom: 1rem;
  border: 1px solid transparent;
  border-radius: 0.25rem;

  color: #383d41;
  background-color: #e2e3e5;
  border-color: #d6d8db;
}