img {
  width: 100%;
}

.wrap {
  padding: 0 20px;

  @include mq($from: xl) {
    padding: 0;
    max-width: 1280px;
    margin: 0 auto;
    text-align: left;
  }
}

button,
input,
select,
textarea {
  font-size: 100%;
  font-family: inherit;
  margin: 0;
  max-width: 100%;
  vertical-align: baseline;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

button,
input {
  line-height: inherit;
}

input,
textarea {
  background-image: -webkit-linear-gradient(
    hsla(0, 0%, 100%, 0),
    hsla(0, 0%, 100%, 0)
  );
}

select,
input,
textarea {
  color: inherit;
  font-size: 13px;
  line-height: 24px;
  padding: 6px 8px;
  border: 1px solid rgba(0, 0, 0, 0.12);
  background: #fff;
  margin-bottom: 6px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  -webkit-transition: 0.1s ease-in-out;
  -moz-transition: 0.1s ease-in-out;
  -ms-transition: 0.1s ease-in-out;
  transition: 0.1s ease-in-out;
}

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}

button,
a.button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
  position: relative;
  border: 0;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.54);
  padding: 6px 16px;
  margin: 0 4px 0 0;
  min-width: 64px;
  display: inline-block;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
}

.search-form .search-submit {
  visibility: hidden;
  display: none;
}

input[type="text"],
input[type="email"],
input[type="search"],
input[type="number"],
input[type="password"] {
  padding: 6px 8px;
  height: 36px;
  line-height: inherit;
  -webkit-appearance: textfield;
  -moz-appearance: textfield;
  appearance: textfield;
}

button,
a.button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
  position: relative;
  border: 0;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.54);
  padding: 6px 16px;
  margin: 0 4px 0 0;
  min-width: 64px;
  display: inline-block;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
}

.img-hover-scale-1 {
  overflow: hidden;
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.24s ease-in-out;
  }
  &:hover img {
    transform: scale(1.03);
  }
}

.show-section {
  @for $i from 1 through 10 {
    .desktop-front-section-#{$i} {
      position: relative;
      &:after {
        content: "desktop-front-section-#{$i}";
        position: absolute;
        top: -20px;
        left: 0;
        background-color: rgba(255, 255, 255, 1);
        border: 4px solid red;
        color: black;
        z-index: 999999;
      }
    }
    @for $z from 1 through 3 {
      .desktop-front-section-#{$i}-#{$z} {
        @extend .desktop-front-section-#{$i};
      };
      .desktop-front-section-#{$i}-#{$z}:after {
        content: "desktop-front-section-#{$i}-#{$z}";
      }
    }

    .desktop-single-section-#{$i} {
      position: relative;
      &:after {
        content: "desktop-single-section-#{$i}";
        position: absolute;
        top: -20px;
        left: 0;
        background-color: rgba(255, 255, 255, 1);
        border: 4px solid red;
        color: black;
        z-index: 999999;
      }
    }
    @for $z from 1 through 3 {
      .desktop-single-section-#{$i}-#{$z} {
        @extend .desktop-single-section-#{$i};
      };
      .desktop-single-section-#{$i}-#{$z}:after {
        content: "desktop-single-section-#{$i}-#{$z}";
      }
    }

    .desktop-category-section-#{$i} {
      position: relative;
      &:after {
        content: "desktop-category-section-#{$i}";
        position: absolute;
        top: -20px;
        left: 0;
        background-color: rgba(255, 255, 255, 1);
        border: 4px solid red;
        color: black;
        z-index: 999999;
      }
    }
    @for $z from 1 through 3 {
      .desktop-category-section-#{$i}-#{$z} {
        @extend .desktop-category-section-#{$i};
      };
      .desktop-category-section-#{$i}-#{$z}:after {
        content: "desktop-category-section-#{$i}-#{$z}";
      }
    }

    .mobile-front-section-#{$i} {
      position: relative;
      &:after {
        content: "mobile-front-section-#{$i}";
        position: absolute;
        top: -20px;
        left: 0;
        background-color: rgba(255, 255, 255, 1);
        border: 4px solid red;
        color: black;
        z-index: 999999;
      }
    }
    @for $z from 1 through 3 {
      .mobile-front-section-#{$i}-#{$z} {
        @extend .mobile-front-section-#{$i};
      };
      .mobile-front-section-#{$i}-#{$z}:after {
        content: "mobile-front-section-#{$i}-#{$z}";
      }
    }

    .mobile-single-section-#{$i} {
      position: relative;
      &:after {
        content: "mobile-single-section-#{$i}";
        position: absolute;
        top: -20px;
        left: 0;
        background-color: rgba(255, 255, 255, 1);
        border: 4px solid red;
        color: black;
        z-index: 999999;
      }
    }
    @for $z from 1 through 3 {
      .mobile-single-section-#{$i}-#{$z} {
        @extend .mobile-single-section-#{$i};
      };
      .mobile-single-section-#{$i}-#{$z}:after {
        content: "mobile-single-section-#{$i}-#{$z}";
      }
    }

    .mobile-category-section-#{$i} {
      position: relative;
      &:after {
        content: "mobile-category-section-#{$i}";
        position: absolute;
        top: -20px;
        left: 0;
        background-color: rgba(255, 255, 255, 1);
        border: 4px solid red;
        color: black;
        z-index: 999999;
      }
    }
    @for $z from 1 through 3 {
      .mobile-category-section-#{$i}-#{$z} {
        @extend .mobile-category-section-#{$i};
      };
      .mobile-category-section-#{$i}-#{$z}:after {
        content: "mobile-category-section-#{$i}-#{$z}";
      }
    }

    .mobile-front-section-#{$i} {
      position: relative;
      &:after {
        content: "mobile-front-section-#{$i}";
        position: absolute;
        top: -20px;
        left: 0;
        background-color: rgba(255, 255, 255, 1);
        border: 4px solid red;
        color: black;
        z-index: 999999;
      }
    }
    @for $z from 1 through 3 {
      .mobile-front-section-#{$i}-#{$z} {
        @extend .mobile-front-section-#{$i};
      };
      .mobile-front-section-#{$i}-#{$z}:after {
        content: "mobile-front-section-#{$i}-#{$z}";
      }
    }
  }
}

.korea-sns-shortcode {
  display: flex;
  gap: 8px;
  & > .korea-sns-button {
    margin: 0;
  }
}

.modal__overlay {
  z-index: 9999 !important;
}