// set only related data as variables

/*  Break Points
/* --------------------------------------------------- */
// this is overide of mq
$mq-breakpoints: (
  xs: 0,
  sm: 476px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  mega: 1500px,
);

/*  Color
/* --------------------------------------------------- */
